<?php if ($this->canShow()): ?>
	<?php $characterCount = $this->getCharacterCount(); ?>
	<div id='deliverynote'>
		<label for='deliverynote-note'style='font-weight: bold;'><?php echo $this->__(Mage::helper('deliverynote')->getFrontendLabel()) ?><?php if ($characterCount !== false): ?> ( max <?php echo $characterCount ?> characters ) <?php endif; ?></label>
		<br /><textarea rows='8' cols='8' style="width:500px; margin-top: 10px; " id='deliverynote-note' name='deliverynote-note' class="input-text<?php if ($characterCount !== false): ?> validate-length maximum-length-<?php echo $characterCount ?> <?php endif; ?>"></textarea>
	</div>
<?php endif; ?>