<?php //if(!Mage::registry('current_category')) return;
 
//if current category is defined
//$magentoCurrentCategory = Mage::registry('current_category');
 //$magentoCurrentCategory->getName();
 //$catId=$magentoCurrentCategory->getId();

$catarray = array(10,16,159,13,160,158,170,12); 
$i = 0;
echo "<div id='recommended' class='recommended'>";
while($i<8)
{
 //foreach ($magentoCurrentCategory as $_category){
 //$children = Mage::getModel('catalog/category')->getCategories($catarray[$i]);

 if($i%4 == 0){
			 echo"</ul>";
			 echo"<ul>";
			}
 echo"<div class='sub-cat'>";			
//foreach ($children as $category) 
	//{rc-image-hldr
	 $subCategory = Mage::getModel('catalog/category')->load($catarray[$i]); 
	$imageUrl= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/category/".$subCategory->getThumbnail();
	//$imageUrl= Mage::getModel('catalog/category')->load($_category->getId())->getThumbnail();
	
	
	?>
	<li><div class="<?php if($i == '5' || $i == '1'){ echo "onesix";} elseif($i == '6'){ echo "";} else{ echo "rc-image-hldr"; }?>"><a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><img src="<?php echo $imageUrl; ?>" alt="<?php echo $this->htmlEscape($subCategory->getName()) ?>"  /></a></div>
	<?php
	if($subCategory->getName() == "Printable-Greeting-Cards")
	{
	$pos = strpos($subCategory->getName(),"-");
	$catnm = substr($subCategory->getName(), $pos,strlen($subCategory->getName()));
	//echo $catnm;
	
	?>
	<a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><b><span>Personalized </span><?php echo $catnm ?></b></a>
	<?php
	
	}
	else
	{
	?>
	<a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><b><span>Personalized </span><?php echo $this->htmlEscape($subCategory->getName()) ?></b></a>
	<?php } ?>
	</li>
	<?php
	//}

  echo"</div>";
  $i++;
  }
 echo "</div>"; 
 ?>
<script>
/*
jQuery(document).ready(function(){
var getdiv = document.getElementById("recommended");

var getul = getdiv.getElementsByTagName("ul");

var getli = getul[0].getElementsByTagName("div");

getli[1].setAttribute("class", "rc");
//jQuery(".").addClass(class)
});*/
</script>
