<?php if(!Mage::registry('current_category')) return;
 
//if current category is defined
 $magentoCurrentCategory = Mage::registry('current_category');
 $magentoCurrentCategory->getName();
 $catId=$magentoCurrentCategory->getId();
 //foreach ($magentoCurrentCategory as $_category){
 $children = Mage::getModel('catalog/category')->getCategories($catId);  $subcategoryCollection = Mage::getModel('catalog/category')    ->getCollection()    ->addAttributeToFilter('parent_id', $catId)->addAttributeToSort('sort_order', 'Desc');      // print_r($subcategoryCollection);  
 echo"<div class='subcat'>";

 $i = 0;
foreach ($subcategoryCollection as $category) 
{
$subCategory = Mage::getModel('catalog/category')->load($category->getId()); 
if($subCategory->getIsActive()){
//echo $category->getId();
if($i%4 == 0)
{
 echo"</ul>";
  echo"<ul>";
}

//echo "<pre>";

 //echo "</pre>";
 $imageUrl= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/category/".$subCategory->getThumbnail();
//$imageUrl= $subCategory->getThumbnailUrl();


?>
<li><a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><img src="<?php echo $imageUrl; ?>" width="120px" height:"100px"alt="<?php echo $this->htmlEscape($subCategory->getName()) ?>" /></a><div class="title"><?php  echo $subCategory->getName(); ?></div><!--<b><?php echo $this->htmlEscape($subCategory->getName()) ?></b>-->	</li>
 <?php
 $i++;
 }
 }

  echo"</div>";
 ?>
 <script>
jQuery(document).ready(function(){
jQuery(".sub-cat").css("display","none");
});
</script> 
