<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_Testimonials Magento Plugin
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */?>

	<div class="user_testimonial">
	<p class="testimonial_h">People love <span>Printland</span>
	
	<?php 
	$row = $this->getRandomTestimonial();
	$base = Mage::getBaseUrl();
	
	if(substr_count($row['testimonial_text'], ' ') > 50)
	echo $readmore = ' <a class="view_more" target="_blank" rel="nofollow" href="'.$base.'testimonials/?t='.$row['testimonial_id'].'">'.$this->__('More').'</a>';
	else
		echo $readmore = ' <a class="view_more" target="_blank" rel="nofollow"  href="'.$base.'testimonials/">'.$this->__('View More').'</a>';

?>
 </p>
<ul class="testi_cloud">
<li>
<div class="testi_text">
	<?php echo $row['testimonial_text'].$readmore; ?><img src="skin/frontend/default/default/images/chat-i.png" alt="" />
	</div>
	<p class="username"><?php echo $row['testimonial_name'] ?></p>
	</li>
</ul>
</div>
