
<style type="text/css">


.men {
 width: 100%; }

#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	background: url('http://uploads.printland.in/fnf/images/blurry.jpg') 700px 300px no-repeat ;
	
}
#background-image th
{
	padding: 12px;
	font-weight:bold;
	font-size: 14px;
	color:#FFFFFF;
	background:#6875aa;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('http://uploads.printland.in/fnf/images/back.png');
}
* html #background-image tbody td
{
	
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://uploads.printland.in/fnf/images/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}
#background-image tbody td ul li{
background: url(http://uploads.printland.in/Business/images/li-logo.png) no-repeat scroll 0 5px;
padding-left: 15px;
line-height: 170%;}
</style>


<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<!--<div class="page-title">
    <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
-->

<div class="men">
<p>Printland.in is a rapidly growing e-commerce organization in the sphere of corporate printing and personalized social gifting. We aim at nothing but the best to reach the pinnacle of the printing industry in India. Nourishing a creative atmosphere, Printland.in empowers its employees to create and innovate. A collegial ambiance at the organization makes it a fun place to work, the employees have the freedom to spread across growth oriented ideas and hence enhance their potentials. If you are one of those who is full of spirit  and zeal, then Printland is the desired platform to give a boost to your growth and development. Join us for a career in one of the leading Document Management Industry and Innovate with us to discover a new side of you. To explore the career opportunities further send your Resume at <a href="mailto:careers@printland.in">careers@printland.in</a></p>
<p><strong>Open Positions</strong><br>
Printland Digital India Pvt Ltd competes for the best talent.
Please check our open positions below. If you don&#8217;t see a position that interests you, please apply through our general applications to let us know how you can make a difference at Printland Digital India Pvt Ltd.</p>
<!--<table>
    

    <tr>
        <td>1.<strong>Content Writer</strong>: 01</td>
       
    </tr>
  <tr><td>&nbsp;</td></tr>
   
    <tr>
        <td>2.<strong>Collection Executive</strong>: 01</td>
       
    
   
    
   <tr><td>&nbsp;</td></tr>
    
    
    
    <tr>
        <td>3.<strong>Customer Service Executive (B2C)</strong>: 01</td>
       
    </tr>
  
   <tr><td>&nbsp;</td></tr>
     
    
    <tr>
        <td>4.<strong>Jr /Sr. PHP and Magneto Web Developer (PHP / Magento / JQuery)</strong>: 01</td> 
    </tr>
    </thead>
    </table>-->
<table id="background-image">
    <thead>
    	<tr>
        	<th style="width:20%;">Position</th>
            <th style="width:20%;">Qualification</th>
              <th style="width:20%;">Experience</th>
            <th style="width:40%;">Skills Required</th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="4">To explore the career opportunities further send your Resume at <a href="mailto:careers@printland.in">careers@printland.in</a></td>
        </tr>
    </tfoot>
    <tbody>
    	<tr>
        	<td>Content Writer</td>
            <td>Graduation or Above</td>
               <td>1 Year or above</td>
            <td><ul>
               <li> Write and review content for company blog, social media & web pages & SEO </li>
                <li>Write fresh & unique content for online marketing & help in internet marketing</li>
				<li>Must have an artistic eye for layout and presentation</li>
				<li>Writing for Websites, Product Description. </li>
				<li>Review & Rewriting of Content. </li>
				<li>Must have International Exposure. </li>
				<li>Creative with words.</li></ul> 
</td>
        </tr>
        <tr>
        	<td>Collection Executive</td>
            <td>Graduation or Above</td>
             <td>1 Year or above</td>
           <td><ul>
               <li>Follow up with the existing customers for cheque collection by phone, emails.</li>
                <li>Maintain the daily MIS reports.</li>
				<li>Good knowledge of Tally9 & Ms- Excel is must.</li>
				<li>Good communication skills</li></ul></td> 
        </tr>
        <tr>
        	<td>Customer Service Executive (B2C)</td>
            <td>Graduation or Above</td>
             <td>1 Year or above</td>
            <td><ul>
               <li> Well versed with Ms-Office </li>
                <li>Good Communication Skills</li>
				<li>Good customer handling skills</li>
				<li>Good telephone handling skills </li>
				<li>Multitasking</li>	</ul></td>			
        </tr>
        <tr>
        	<td>Jr/Sr. PHP and Magneto Web Developer </td>
            <td>BCA, B.Sc, B.tech or above</td>
             <td>Minimum 3Yrs relevant exp in <strong>Magento</strong>, <strong>PHP</strong>, Zend Framework,<strong> MYSQL</strong> , XHTML, CSS, <strong> JS (jQuery)</strong>,  JavaScript, Other CMS will be a plus</td>
            <td><ul>
               <li>Excellent knowledge of CMS: Magento. </li>
                <li>Experience in developing custom plug-in and custom module for respective CMS.</li>
				<li>Excellent knowledge of HTML, jQuery, CSS, XML.</li>
				<li>Experience in web ecommerce projects. </li>
				<li>Self Motivated</li>
				</ul> </td>
        </tr>
    </tbody>
</table>


    <form action="<?php echo $this->getFormAction(); ?>" enctype="multipart/form-data" id="carrer" method="post">  
	<div class="fieldset">	
    <ol class="column1">
            <li>
				<div class="field">
					<label for="name" class="required">Your Name :<span class="asterisk">*</span></label>
						<div class="input-box">
						<input name="name" id="name" type="text" style="background-color: white;" class="input-text required-entry" onKeyPress="return ValidateAlpha(event);" />
						</div>
				</div>	
            </li>
			<li>
				<div class="field">
					<label for="email" class="required">Your Email Address :<span class="asterisk">*</span></label>
						<div class="input-box">
						<input type="text" name="email" id="email" class="input-text required-entry validate-email" style="background-color: white;">
						</div>
				</div>		
            </li>
			<li>
				<div class="field">	
					<label for="position" name="position" id="position">Position seeking :</label>
						<div class="input-box">
						<input type="text" name="position" class="input-text required-entry" style="background-color: white;">
						</div>
				</div>		
            </li>
            <li>
			<div class="field">	
            	<label for="file" name="file">Your Resume File :<span class="asterisk">*</span></label>
					<div class="input-box">
					 <input type="file" name="file" id="file" class="input-text required-entry" style="background-color: white;">
					 </div>
					 <div id="filetype" style="margin:31px 0 0 0;"><br>Allowed Extention('txt','pdf','docx','rtf','doc')</div>
			</div>
     		</li>
			
			<li><input type="submit" class="submit" id="submit" value="Submit"  name="submit"></li>
     </ol> 
	 </div>
    </form>
</div>
<?php

function getExtension($str)
{
	$i = strrpos($str,".");
	if (!$i)
	{
		return "";
	}
	$l = strlen($str) - $i;
	$ext = substr($str,$i+1,$l);
	return $ext;
}

if(isset($_POST['submit'])){ 
 $name = $_POST['name'];
 $email = $_POST['email'];
 $position = $_POST['position'];
 $fileName = preg_replace("!\s+!", "_", $_FILES['file']['name']);
// $fileName = $_FILES['file']['name'];
 //$exten = getExtension($fileName);
 //$flname = explode('.',$fileName);
 //$flext = strtolower($exten);
 //$fileName = $flname[0].'.'.$flext;

 
 $file_tmp = preg_replace("!\s+!", "_", $_FILES['file']['tmp_name']);
//$attachment = chunk_split(base64_encode(file_get_contents($fileName)));

$aemail = Mage::getStoreConfig('trans_email/ident_general/email');
$ccemail = Mage::getStoreConfig('trans_email/ident_support/email');

$fileName = preg_replace("!\s+!", "_", $_FILES['file']['name']);

$exten = getExtension($fileName);
 $flname = explode('.',$fileName);
 $flext = strtolower($exten);
 $fileName = $flname[0].'.'.$flext;

$file_tmp = $_FILES['file']['tmp_name'];

//$cemail = Mage::getStoreConfig('trans_email/ident_general/email');
//$ccemail = Mage::getStoreConfig('trans_email/ident_support/email');
$target_path = Mage::getBaseDir('media').'/carrer_documents/'.$fileName;
move_uploaded_file($file_tmp,$target_path);

$newfile = Mage::getBaseDir('media')."/carrer_documents/" . $fileName;
copy($target_path, $newfile);

   //echo $_SERVER['DOCUMENT_ROOT'];
//porder.printland@gmail.com , pforms.printland@gmail.com
//
//$target_path = 'http://printland.in/media/carrer_documents/'.$fileName;

//move_uploaded_file($file_tmp,$target_path);



//$newfile = Mage::getBaseDir() . "/" . $fileName;
//move_uploaded_file($target_path, $newfile);
//$tar='http://plint.in/media/carrer_documents/'.$fileName;
$adminemail = ", porder.printland@gmail.com, pforms.printland@gmail.com";
//$adminemail = ", snjha77@gmail.com, ";
$to=$email . $adminemail;
//$to = "snjha77@gmail.com, ";
$subject="Printland Form Submitted Career";

$message = '
<h1>Career</h1>
<table>
<tr>
<td>
<img id="lgo" src="'. $this->getSkinUrl('images/logo.gif') .'" alt="Printland Digital" />
</td>
</tr>
<tr style="font-weight:bold;">
<td>Name          	        : '.$name.' </td>
</tr>
<tr>
<td>Email         	        : '.$email.' </td>
</tr>
<tr>
<td>Position         	        : '.$position.' </td>
</tr>
<tr>
<td>Uploaded File Name  	        : http://printland.in/media/carrer_documents/'.$fileName.'</td>
</tr>
</table>
		
		';

mail_attachment($newfile,$email,$ccemail,$aemail,$fileName,$to,$subject,$message);
$conect = Mage::getModel('careers/careers');
		$conect->setName($name);
		$conect->setEmail($email);
		$conect->setPosition($position);
		$conect->setPhoto($fileName);
		$conect->save();
		
		############################ save message###########################################
		echo "Thank You, your form information has been submitted. A copy of the data submitted is below.
";
		echo "<br>";
		echo $message;
		?>
		<script>jQuery('.men').css('display','none');jQuery('#lgo').css('display','none');</script>
		<?php
		############################ save message###########################################
		
		
}







function mail_attachment($newfile,$email,$ccemail,$aemail,$filename,$to,$subject,$message) {
    $file = $newfile;
    $file_size = filesize($file);
	$file_type = filetype($filename);
    $handle = fopen($file, "r");
    $content = fread($handle, $file_size);
    fclose($handle);
    $content = chunk_split(base64_encode($content));
    $uid = md5(uniqid(time()));
    $name = basename($file);
    $header = "From: <".$email.">\r\n";
    $header .= "Reply-To: ".$aemail."\r\n";
	$header .= 'Cc: '.$ccemail.' "\r\n"';
    $header .= "MIME-Version: 1.0\r\n";
    $header .= "Content-Type: multipart/mixed; boundary=\"".$uid."\"\r\n\r\n";
    $header .= "This is a multi-part message in MIME format.\r\n";
    $header .= "--".$uid."\r\n";
    $header .= "Content-type:text/html; charset=iso-8859-1\r\n";
    $header .= "Content-Transfer-Encoding: 7bit\r\n\r\n";
    $header .= $message."\r\n\r\n";
    $header .= "--".$uid."\r\n";
    $header .= "Content-Type: ".$file_type."; name=\"".$filename."\"\r\n"; // use different content types here
    $header .= "Content-Transfer-Encoding: base64\r\n";
    $header .= "Content-Disposition: attachment; filename=".$filename."\r\n";
    $header .= $content."\r\n\r\n";
    $header .= "--".$uid."--";
	
    if (mail($to, $subject, $message, $header)) {
        //echo "mail send ... OK"; // or use booleans here
    } else {
        echo "mail send ... ERROR!";
    }
}

?>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('carrer', true);
	jQuery('.submit').click(function(){
	var filename = document.getElementById('file').value;
	
	var ext = filename.substring(filename.indexOf('.') + 1);
	if(filename){
	if((ext == 'doc') || (ext == 'txt') || (ext =='pdf') || (ext =='docx') || (ext =='rtf')){
	document.getElementById('filetype').innerHTML = "";
	return true;
		}
	else{
	document.getElementById('filetype').style.color = 'red';
	document.getElementById('filetype').innerHTML = 'Please upload valid file extention(txt,pdf,docx,rtf) ';
	return false;
	}
	}
	});
	
//]]>
</script>
