<?php


//public function getProductsByCategory($catId) {
$collection = Mage::getModel('catalog/category')->load(369)->getProductCollection()->setPageSize(8)->addAttributeToSort('id', 'ASC');
$_helper = Mage::helper('catalog/output');
$colsize = 0;
echo "<div id='recommended' class='recommended'>";
		foreach($collection as $prod) {
		if($colsize%4 == 0)
		{
		echo "</ul>";
		echo "<ul>";
		}
		$product = Mage::getModel('catalog/product')->load($prod->getId());
			?>
			<li>
			<div class="rc-image-hldr">
			<!--<img src="<?php echo $product->getImageUrl()?>">-->
				<a href="<?php echo $product->getProductUrl() ?>" class="product-image">
				<img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image'); ?>"  alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />
				</a>
			</div>
			<?php if($_product->isSaleable()): ?>
					
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
			<?php
			echo $product->getName();
			$colsize++;
			?>
			
			</li>
		<?php } ?>
			
</div>	
<script>
jQuery(document).ready(function(){
var getdiv = document.getElementById("recommended");
var getul = getdiv.getElementsByTagName("ul");
var getli = getul[1].getElementsByTagName("li");
getli[2].setAttribute("class", 'rc-image-hldr');
//jQuery(".").addClass(class)
});
</script>
		
		
		<!--Mage::getResourceModel('catalog/product_collection')
                            ->addAttributeToSelect(Mage::getSingleton('catalog/config')->getProductAttributes())
                            ->setStoreId($storeId)
                            ->addStoreFilter($storeId)
                            ->addMinimalPrice()
                            ->addTaxPercents()
                            ;
							
		


	
        if($catId) {
            $category = Mage::getModel('catalog/category')->load($catId);
            if($category->getId()) {
                $collection->addCategoryFilter($category);
            }
        }
        
        return $collection;
    }
	getProductsByCategory(369)*/
	?>-->