
<style>


.pollSlider{
    position:fixed;
    height:60%;
    background:#eee;
    width:249px;
    right:0px;
    margin-right: -250px;
	top:200px;
	border: 1px solid #0000A0;
	border-right:none;
	
	
	font-family : Arial, sans-serif;
   font-size: 14pt;
   font-weight:bolder;
   color:#333; 
}
#pollSlider-button{
    position:fixed;
    width:28px;
    height:109px;
    right:0px;
	 background-image:url('http://demo2.printland.in/skin/frontend/default/default/images/bulkinq.png');
    top:200px;
	cursor:pointer;
	
}


#mies1{   
    bottom: 0;
    height: 0px;
    left: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: auto;
    visibility: visible;
    z-index: 16776274;	
   
}
@font-face
{
font-family: myFirstFont;
src: url('Sansation_Light.ttf'),
     url('Sansation_Light.eot'); /* IE9 */
}


input.required
{height:25px;
width:150px;
border:1px solid #b1b1b1;
border-radius:3px;

padding-left:10px;
margin-top:10px;
font-weight:bold;}

input.required:hover
{
border:1px solid #0000A0;
box-shadow:0 0 1px 1px #0000A0;
} 

input.btn
{
color:#fff;
background-image:url('http://demo2.printland.in/skin/frontend/default/default/images/submit.png');
width:71px;
height:29px;
border:none;

cursor:pointer;

margin:14px 50px;

}



textarea.required1:hover
{
border:1px solid #0000A0;
box-shadow:0 0 1px 1px #0000A0;
}

.required {font-size:12px;}



.inner {
margin-left: 0px; margin-top: 15px;
font-size: 12px;

}
.error
{
float: left;
margin-left: 46px;
margin-top: 0px;
color: rgb(255, 0, 0);

}
</style>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery.Validate/1.6/jQuery.Validate.min.js"></script>
<?php
require_once 'app/Mage.php';
umask(0);
Mage::app('default');


$host="172.16.213.17"; // Host name 
$username="campaign"; // Mysql username 
$password="campPrint123$"; // Mysql password 
$db_name="campaign_campaign"; // Database name 
//$tbl_name="test_mysql"; // Table name 

// Connect to server and select database.
mysql_connect("$host", "$username", "$password")or die("cannot connect"); 
mysql_select_db("$db_name")or die("cannot select DB");
   

   $name = $_POST['name'] ;
   $company = $_POST['company'] ;
   $email = $_POST['email'] ;
   $mobileno = $_POST['mobileno'] ;
   $detail = $_POST['detail']." ".$_POST['company'] ;
   
   
   
   
    $to = "nareshsingh003@gmail.com";
	$subject = "Bulk Inquiry";


   
  $message = 

    "You have received a bulk inquiry. ".
	" Here are the details:\n\n Name: $name \n Company: $company \n Email: $email \n Mobile No: $mobileno \n Detail: $detail "; 

	$from = "sales@printland.in";
	$headers = "From:" . $from;
  
  
$sql="INSERT INTO inquiry (Name, Email, Mobileno, Detail) VALUES('$name','$email','$mobileno','$detail')";

$result=mysql_query($sql);
mail($to,$subject,$message,$headers);

?>





<html>
<body>


  <div class='pollSlider' id=''> 
  
  <div class='inner' style=''>
    <form method='post' action=''  id='theForm' >
  <div class='container'>

<input class='required' type='text' name='name' maxlength='50'  placeholder='Name'>
</div>
 <div class='container'>

<input class='required' type='text' name='company' maxlength='50'  placeholder='Company'>
</div>
 
 
 
  <div class='container'>

<input class='required email' style='color:#000' type='text' name='email' maxlength='50'  placeholder='E-Mail' > 
</div>

<div class='container'>

<input class='required' id='mobileno' onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" type='text' name='mobileno'  maxlength='20'  placeholder='Mobile'>
 <span id="error" style="color: Red; display: none;float: left;margin-left: 45px;">Please enter valid mobile number</span>
</div> 

 <textarea class='required1' rows='5' cols='10' name='detail' style='width: 185px; margin-left: 45px; margin-top: 12px;'  placeholder='Detail'>
</textarea>
<input type='submit'id='submit' value='submit' class='btn'>
 
  </form>
  </div>
 
  
  
  
  </div>
  

<div id='pollSlider-button'>
</div>



</body>
</html>



<script type="text/javascript">
   jQuery(document).ready(function() {
   jQuery("#theForm").validate();
   });
</script>
 <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
    </script>

<script>
 jQuery(document).ready(function()
{
  jQuery('#pollSlider-button').click(function() {
    if(jQuery(this).css("margin-right") == '250px')
    {
        jQuery('.pollSlider').animate({"margin-right": '-=250'});
        jQuery('#pollSlider-button').animate({"margin-right": '-=250'});
    }
    else
    {
        jQuery('.pollSlider').animate({"margin-right": '+=250'});
       jQuery('#pollSlider-button').animate({"margin-right": '+=250'});
    }
  

  });
 });
 
 
</script>