
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var username}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
					Thank you for placing your order with Printland.in. </p>
				    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
					Reference your order #{{var order_id}},</p>
                   <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
					Image provided by you for your order either missing or is of low quality.</p>
				   
				   <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">Please provide us with a high resolution picture to process your order at the earliest</p>
				   
				   <p style="font-size:12px; line-height:16px; margin:0;">Please email to <a href="mailto:lowquality@printland.in" style="color:#1E7EC8;">lowquality@printland.in</a>, <a href="mailto:contactus@printland.in" style="color:#1E7EC8;">contactus@printland.in</a>
				</td>
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, regards, <strong> Team {{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>
