<?php
	include $_SERVER['DOCUMENT_ROOT']."JSON.php";
?>
<?php
$baseUrl = Mage::getBaseUrl('web');
$productId = $_REQUEST['productId'];
$qty= $_REQUEST['qty'] ? $_REQUEST['qty'] : 1;

$sku = $_REQUEST['sku'];
if($sku){
$_SESSION['pro_sku']=$sku;
}




Mage::getSingleton('core/session')->setTestingMagento('hello');

$designId = $_REQUEST['designId'];

$assigncartid = Mage::getSingleton('core/session')->setAssignId($designId);

$write = Mage::getSingleton('core/resource')->getConnection('core_write');
$query = "SELECT * FROM `assign_info` WHERE designId = '$designId' "; 	
$res = $write->query($query);
$row = $res->fetch();

$getdesignId   = $row['designId'] ;
$getitemId   = $row['itemId'] ;


echo "<b>Please Wait.....</b>";



if($getdesignId =='' ){
	
	$product=Mage::getModel("catalog/product")->load($productId); 
		if($product->type_id != 'configurable'){
			$query1 = "INSERT INTO `assign_info` SET  `designId` = '$designId', `sku` = '$sku', `productId` = '$productId', `itemId` = '0', `parentId` = '0'";
				$write->query($query1);
		}	
		$attributes = json_decode(urldecode($_REQUEST['attr']));
		
		$options = "";
		$sattrs = array();
		for($i=0;$i<count($attributes);$i++){
			$attribute = (object)$attributes[$i];
			if($i>0){
				$options.="&";
			}	
				if($attribute->type=='O'){
					$options.="options[".$attribute->id."]=".$attribute->value;	
				}else{	
					$options.="super_attribute[".$attribute->id."]=".$attribute->value;
					$obj = (Object)$obj;
					$obj->id = $attribute->id;
					$obj->value = $attribute->value;
					array_push($sattrs,$obj);
					unset($obj);
				}
		}
		
		
		
		$associatedId = null;
		if($product->type_id == 'configurable'){
		//	$size = $sattrs[0];
		//	$mounting = $sattrs[1];
		//	$lamination = $sattrs[2];
			$associatedProducts=$product->gettypeInstance()->getUsedProducts();
			
			$configurableAttributeCollection = $product->getTypeInstance()->getConfigurableAttributes();
			
			
			
			foreach($associatedProducts as $associatedProduct){
				$aproduct = Mage::getModel("catalog/product")->load($associatedProduct->getId());
				$totalmatch = 0;
				foreach($configurableAttributeCollection as $configurableAttribuite){
		
					$attributeInfo = Mage::getResourceModel('eav/entity_attribute_collection')->setCodeFilter($configurableAttribuite->getProductAttribute()->getAttributeCode())->getFirstItem()->setEntity($product->getResource());
					$attributeOptions = $attributeInfo->getSource()->getAllOptions(false);
					for($inc = 0; $inc<count($sattrs); $inc++){
					//	echo '</br>FIND  '.$attributeInfo->getAttributeId().' = '.$sattrs[$inc]->id.'                '.$associatedProduct[$attributeInfo->getAttributeCode()].' = '.$sattrs[$inc]->value;
						if((int)$attributeInfo->getAttributeId() == (int)$sattrs[$inc]->id && (int)$associatedProduct[$attributeInfo->getAttributeCode()] == (int)$sattrs[$inc]->value){
							$totalmatch++;
						}
					}
					if($totalmatch==count($sattrs)){
						$associatedId = $aproduct->getId();
						
						$query2 = "INSERT INTO `assign_info` SET  `designId` = '$designId', `sku` = '$sku', `productId` = '$associatedId', `itemId` = '0', `parentId` = '0'";
						$write->query($query2);
					}
				}
			}
		}
		
		
			$cartHelper = Mage::helper('checkout/cart');
			$items = $cartHelper->getCart()->getItems();
			
			foreach ($items as $item) {
				$itemId = $item->getItemId();
			//	echo  $itemId.' == '.$_REQUEST['cartId'].'</br>';
				if ($itemId == $_REQUEST['cartId']) {
					$cartHelper->getCart()->removeItem($itemId)->save();
				//	break;
				}
			}
			
			
			if($product->type_id == 'configurable'){	
				echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/add?product=$associatedId&qty=$qty&designId=$designId&$options')</script>";
			}else{
				echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/add?product=$productId&qty=$qty&designId=$designId&$options')</script>";
			}
			//super_attribute[$attributeid]=$optionId&options[1]=3
		}else{
			$cartHelper = Mage::helper('checkout/cart');
			$items = $cartHelper->getCart()->getItems();
			
			foreach ($items as $item) {
				$itemId = $item->getItemId();
			//	echo  $itemId.' == '.$_REQUEST['cartId'].'</br>';
				if ($itemId == $_REQUEST['cartId']) {
					$cartHelper->getCart()->removeItem($itemId)->save();
				//	break;
				}
			}
			echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/')</script>";
		}
	?>