<h5>Please wait..........!</h5>

<?php

$url='http://www.printland.in'.$_SERVER['REQUEST_URI'];
urldecode($url);
$uri=explode("?",urldecode($url));
parse_str($uri[1]);

$productId=15100;
$price=$custom_price;

$baseUrl = Mage::getBaseUrl('web');

$product = Mage::getModel('catalog/product');
$product->load($productId);
$product->setSpecialPrice($price);
$product->save();

try{

    $product_model  = Mage::getSingleton('catalog/product');
    $my_product     = $product_model->load($productId);
    $qty_value      = $qty;

    $cart = Mage::getSingleton('checkout/cart');
    $cart->init();
   
    $cart->addProduct($my_product, array('qty' => $qty_value));
    $cart->save();
	
    Mage::getSingleton('checkout/session')->setCartWasUpdated(true);
    echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/')</script>";
 }
 
catch(Exception $e){
    return $e->getMessage();
}
 
?>
