<h5>Please wait..........!</h5>

<?php

$url='http://www.printland.in'.$_SERVER['REQUEST_URI'];
urldecode($url);
$uri=explode("?",urldecode($url));
parse_str($uri[1]);

$productId=16795;
$price=$custom_price;
$opt=$options;
$set_weight=$weight;

$baseUrl = Mage::getBaseUrl('web');

$product = Mage::getModel('catalog/product');
$product->load($productId);
$product->setSpecialPrice($price);
$product->setWeight($set_weight);
$product->save();

try{

    $product_model  = Mage::getSingleton('catalog/product');
    $my_product     = $product_model->load($productId);
    $qty_value      = $qty;

    $cart = Mage::getSingleton('checkout/cart');
    $cart->init();
   
	   $params = array(
		'product' => $my_product->getId() ,
		'qty' => $qty_value,
		'options' => array(
			3377 => $opt
		   )
	    );
   
   
   
    $cart->addProduct($my_product,$params);
    $cart->save();
	
    Mage::getSingleton('checkout/session')->setCartWasUpdated(true);
    echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/')</script>";
 }
 
catch(Exception $e){
    return $e->getMessage();
}
 
?>
