<?php
	$web = Mage::getModel('web/web')->getCollection();
	?>
	<table class="events" border="0" cellpaddding="1" cellspacing="1">
	<tr>
	<th colspan="3">Upcoming Events 2012</th>
	</tr>
   
    
	<?php 
	$montharrjan = array();
	$montharrfeb = array();
	$montharrMar = array();
	$montharrApr = array();
	$montharrMay = array();
	$montharrjun = array();
	$montharrjul = array();
	$montharrAug = array();
	$montharrSep = array();
	$montharrOct = array();
	$montharrNov = array();
	$montharrDec = array();
	foreach($web as $webdata)
		{
		
		$mnhname = null;
		$catname = Mage::getModel('catalog/category')->load($webdata->getCategory());
		
	
		$expdate = explode("/", $webdata->getFrom_date());
	
		if($expdate[0]==1)
			{
			$mnhname='january';
			
			array_push($montharrjan,$webdata->getCategory());
			
			
			}
					
			
		if($expdate[0]==2)
			{
			$mnhname='february';
			
			array_push($montharrfeb,$webdata->getCategory());
			
			}
		if($expdate[0]==3)
			{
			$mnhname='March';
			
			array_push($montharrMar,$webdata->getCategory());
			
			}
		if($expdate[0]==4)
			{
			$mnhname='April';
			
			array_push($montharrApr,$webdata->getCategory());
			
			}	
		if($expdate[0]==5)
			{
			$mnhname='May';
			
			array_push($montharrMay,$webdata->getCategory());
			
			} 
		if($expdate[0]==6)
			{
			$mnhname='june';
			
			array_push($montharrjun,$webdata->getCategory());
			
			}
		if($expdate[0]==7)
			{
			$mnhname='july';
			
			array_push($montharrjul,$webdata->getCategory());
			
			}
		if($expdate[0]==8)
			{
			$mnhname='August';
			
			array_push($montharrAug,$webdata->getCategory());
			
			} 
		if($expdate[0]==9)
			{
			$mnhname='September';
			
			array_push($montharrSep,$webdata->getCategory());
			
			}
		if($expdate[0]==10)
			{
			$mnhname='October';
			
			array_push($montharrOct,$webdata->getCategory());
			//print_r($montharrOct);
			}
		if($expdate[0]==11)
			{
			$mnhname='November';
			
			array_push($montharrNov,$webdata->getCategory());
			
			}
			
		if($expdate[0]==12)
			{
			//echo $webdata->getFrom_date();echo "<br>";
			//echo $webdata->getCategory();echo "<br>";
			$mnhname='December';
			
			array_push($montharrDec,$webdata->getCategory() );
			
			
			}
		 }	
		?>
		
		
		<!--#################   January    ####################-->
		<?php if(count($montharrjan)>0){?>
		<tr >
			 <td> <?php echo "January"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrjan as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   January    ####################-->
		
		
        
        
        
    <!--#################   Februry    ####################-->
		<?php if(count($montharrfeb)>0){?>
		<tr >
			 <td > <?php echo "Febrary"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrfeb as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   Februry    ####################-->
        
        
        
        <!--#################   March    ####################-->
		<?php if(count($montharrmar)>0){?>
		<tr >
			 <td > <?php echo "March"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrmar as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   March    ####################-->
        
        
        
        <!--#################   April    ####################-->
		<?php if(count($montharrapr)>0){?>
		<tr >
			 <td > <?php echo "April"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrapr as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   April    ####################-->
        
        
        
        
        <!--#################   May    ####################-->
		<?php if(count($montharrmay)>0){?>
		<tr >
			 <td > <?php echo "May"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrmay as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   May    ####################-->
        
        
        
        <!--#################   June    ####################-->
		<?php if(count($montharrjun)>0){?>
		<tr >
			 <td > <?php echo "June"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrjun as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   June    ####################-->
        
        
        
        
        <!--#################   July    ####################-->
		<?php if(count($montharrjul)>0){?>
		<tr >
			 <td > <?php echo "July"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrjul as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   July    ####################-->
        
        
        
        <!--#################   August    ####################-->
		<?php if(count($montharraug)>0){?>
		<tr >
			 <td > <?php echo "August"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharraug as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   August    ####################-->
        
        
        
        <!--#################   September    ####################-->
		<?php if(count($montharrsep)>0){?>
		<tr >
			 <td > <?php echo "September"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrsep as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   September    ####################-->
		
		
		
	<!--#################   October    ####################-->
		<?php if(count($montharrOct)>0){?>
		<tr >
			 <td > <?php echo "October"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrOct as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   October    ####################-->
		
		
		<!--#################   November    ####################-->
		<?php if(count($montharrNov)>0){?>
		<tr >
			 <td > <?php echo "November"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php } ?>
		<?php		
		foreach($montharrNov as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php   
					}
				}
		}
		?>
		<!--#################   November    ####################-->
		
		
		<!--#################   December    ####################-->
		<tr >
			 <td > <?php echo "December"; ?></td>
			 <td >&nbsp; </td>
			 <td >&nbsp; </td>
		</tr>
		<?php		
		foreach($montharrDec as $mnth)
		{
			$catname = Mage::getModel('catalog/category')->load($mnth);
				foreach($web as $webd)
				{
				$webid = Mage::getModel('web/web')->load($webd->getId());
				if($webid->getCategory() == $catname->getId())
					{
					$expdate = explode("/", $webid->getFrom_date());
					?>
						<tr> 
								<td>
								<?php print_r($expdate[1]."-".substr($mnhname,0,3)."-".$expdate[2]); ?>
								</td>
								<td>
								<?php echo $mnhname; ?>
								</td>
								<td>
								<a href="<?php echo $catname->getUrl() ?>"><?php echo $catname->getName(); ?></a>
								</td>
						</tr>
					<?php    

					}
				}
		}
		
		?>
        <!--#################   December    ####################-->
        
 
	
    
    
    
    
		


</table>