<style type="text/css">
.men{width:395px; height:auto; padding:0;}
.men fieldset{clear:both!important;}
.men fieldset ol {
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 3px #CCCCCC;
    margin: 0 0 10px;
    padding: 5px;
	width:60%;
	overflow:hidden;
}
.men input,textarea{
    border: 1px solid #CCCCCC;
    width:91%; 
	float:left;
	margin-bottom:5px;
}
.men label {
    display: block;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 2px;
    text-align: left;
	font-size:12px;
}
.men input[type="text"], .men input[type="password"] {
    color: #595959;
    padding: 2px 4px;
	margin-bottom:5px;
}
.men ol{
	list-style:none; 
	padding:0px; 
	margin:0px;
	}
.men ol li{
	padding: 2px 10px;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
	color:#333;
}
.wrapper-non {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.InputTxt {
width: 90%;
border: solid 1px #b2c4d4;
height: 33px;
clear: both;
margin: 14px 0 1px 0;
font-size: 15px;
line-height: 33px;
box-shadow: inset 1px 1px 5px #DBDCDE;
-moz-box-shadow: inset 1px 1px 5px #DBDCDE;
-webkit-box-shadow: inset 1px 1px 5px #DBDCDE;
-mso-box-shadow: inset 1px 1px 5px #DBDCDE;
padding-left: 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-mos-border-radius: 5px;
}

/* Form
-----------------------------------------------------------------------------*/
.left-side-heading {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-mso-border-radius: 5px;
box-shadow: 0px 2px 0px #dbdcde;
-moz-box-shadow: 0px 2px 0px #dbdcde;
-webkit-box-shadow: 0px 2px 0px #dbdcde;
-mso-box-shadow: 0px 2px 0px #dbdcde;
border: solid 1px #c8030b;
background-color: #e36706;
font-weight: bold;
text-shadow: 1px 1px 0px #b02429;
color: #FFFFFF;
background: url(http://www.printland.in/skin/frontend/default/default/images/nav-bg.gif)repeat-x 0 0;
padding: 10px;
margin-bottom: 0px;
}


.cb {
border-radius: 2px;
background-color: #fff;
box-shadow: 0 1px 1px 0 #CCCBCB;
margin-top: 0px;
font-size: 12px;
display: block;


}
.cbwh {
border-radius: 2px;
background-color: #fff;
box-shadow: 0 1px 1px 0 #CCCBCB;
margin-top: 10px;
font-size: 12px;
padding: 4px 10px 5px;
}
.image-partner {
float: left;
margin: 3px 8px;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
-mos-border-radius: 7px;
-moz-box-shadow: 0px 0px 6px rgba(68,68,68,0.6);
-webkit-box-shadow: 0px 0px 6px rgba(68,68,68,0.6);
box-shadow: 0px 0px 6px rgba(68,68,68,0.6);
}

/* Middle
-----------------------------------------------------------------------------*/
.middle-non {
	width: 100%;
	
	position: relative;
}
.middle-non:after {
	display: table;
	clear: both;
	content: '';
}
.container-non {
	width: 99%;
	float: left;
	overflow: hidden;
}
.content-non {
	padding: 0 270px 0 0;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar-non {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
	
}

/* Footer
-----------------------------------------------------------------------------*/
</style>

<?php
if(isset($_POST['submit']))
{ 	
		$name=$_POST['name'];
		$mobile=$_POST['telephone'];
		$email=$_POST['email'];
		$nature=$_POST['problem'];
		$yourmessage=$_POST['comment'];
		$cemail = Mage::getStoreConfig('trans_email/ident_general/email');
		$ccemail = Mage::getStoreConfig('trans_email/ident_support/email');


		//$cemail = $cemail.", porder.printland@gmail.com";
		//$ccemail = $ccemail.", pforms.printland@gmail.com";
		
		$adminemail = ", porder.printland@gmail.com, pforms.printland@gmail.com, nwspromo@gmail.com";
		
		
		
				$to=$email;
				$to=$email . $adminemail;
				$subject="Printland Form Submitted Report A Problem";
				//echo $target_path;
				 
		
				$message = '
				<h1>Report a Problem</h1>
				<table>
				<tr>
				<td>
				<img id="lgo" src="http://printland.in/skin/frontend/default/default/images/logo.gif" alt="Printland Digital"
				</td>
				</tr>
				<tr style="font-weight:bold;">
				<td>Name          	        : '.$name.' </td>
				</tr>
				<tr>
				<td>Phone         	        : '.$mobile.' </td>
				</tr>
				<tr>
				<td>Email         	        : '.$email.' </td>
				</tr>
				<tr>
				<td>Nature of Problem: <strong>' .$nature . '</strong></td>
				</tr>
				<tr>
				<td>Message          	    : '.$yourmessage.' </td>
				</tr>
				
				</table>
						
						';
				
				$headers = "MIME-Version: 1.0" . "\r\n";
				$headers .= "Content-type:text/html;charset=iso-8859-1" . "\r\n";
		
				
				$headers .= 'From: <'.$cemail.'>' . "\r\n";
				$headers .= 'Cc: '.$ccemail.' "\r\n"';
				mail($to,$subject,$message,$headers);
		
				$conect = Mage::getModel('reportproblem/reportproblem');
				$conect->setName($name);
				$conect->setContact($mobile);
				$conect->setEmail($email);
				$conect->setProblemnature($nature);
				$conect->setMessage($yourmessage);
				$conect->save();
				
				############################ save message###########################################
				$smsg= "Thank You, your form information has been submitted. Concern department will respond you shortly.
		";
				
				?>
				<script>jQuery('.men').css('display','none');jQuery('#lgo').css('display','none');</script>
				<?php
				############################ save message###########################################
		
		
	}
?>
<div class="wrapper-non">

	<div class="header-non">		
        <a href="http://www.printland.in" title="Error"><img style="float: left; width: 30%; margin-right: 75px;" src="http://uploads.printland.in/fnf/images/not-found-error.png" alt="Error" ></a>
<p style="font-size: 20px; line-height:36px; color:#d65900; font-style: italic;">It seems that the page you were trying to reach doesn't exist anymore,or maybe it has just moved. We think that the best thing to do is start again from the home page. Feel free to contact us if the problem persist or if you definitly can't find what you are looking for. Thank you very much....
</p>

	</div>

	<div class="middle-non">

		<div class="container-non">
       
			<main class="content-non">
                      <div class="left-side-heading" style="font-size: 26px; padding:4px;">Explore Our Latest Deals......!!</div>  
           
            <hr style=" border: 0; margin-bottom: 15px;
    height: 1px;
    background:  #ff6d73;
    background-image: -webkit-linear-gradient(left, #ffffff, #ff6d73, #ffffff); 
    background-image:    -moz-linear-gradient(left,#ff1d26, #ff6d73, #ff1d26); 
    background-image:     -ms-linear-gradient(left, #ff1d26, #ff6d73, #ff1d26); 
    background-image:      -o-linear-gradient(left, #ff1d26, #ff6d73, #ff1d26);">
            <!--<a href="http://www.printland.in/items/pens.html" title="Flat 10% Off on Personlaized Pens"><img src="http://uploads.printland.in/fnf/images/not-found-5.png" alt="Flat 10% Off on Personlaized Pens"></a>-->
				<a href="http://www.printland.in/items/clocks.html" title="Flat 20% Off on Personalized Clocks"><img src="http://uploads.printland.in/fnf/images/not-found-1.png" alt="Flat 30% Off on Personalized Clocks" ></a>
                <a href="http://www.printland.in/items/mugs.html" title="Flat 20% Off on Coffee Mugs"><img src="http://uploads.printland.in/fnf/images/not-found-2.png" alt="Flat 30% Off on Coffee Mugs"></a>
                <a href="http://www.printland.in/items/mobile-phone-covers.html" title="Flat 20% Off on Phone Covers"><img src="http://uploads.printland.in/fnf/images/not-found-3.png" alt="Flat 10% Off on Pen Drives"></a>
                <a href="http://www.printland.in/items/name-plates.html" title="Flat 20% Off On Nameplates"><img src="http://uploads.printland.in/fnf/images/not-found-4.png" alt="Flat 35% Off On Trendy Tshirts"></a>
                
			</main>
		</div>
  
 
		<aside class="right-sidebar-non">
			<div class="cb"><div class="left-side-heading">Tell Us Your Requirement</div><div class="content" style="height:290px;text-align:center; height: auto;">
	<font color="red"><?php echo $smsg; ?></font>
	<div class="men">
  <form name="myform" action="#" method="post" id="report">
  
<fieldset>
				<ol class="column1">
				
				<li>
				<label for="name" class="required">Name <span class="asterisk">*</span></label>
					<input name="name" id="name" title="Name" cont='abc' class="input-text required-entry" type="text" onKeyPress="" />
					
					
				</li>
                
                
                <li>
				<label for="telephone" class="required">Contact No <span class="asterisk">*</span></label>
					<input type="text" name="telephone" id="telephone" title="Telephone" style="background-color: white;" class="input-text required-entry validate-number" maxlength="18>
					
				</li>
                
                
				<li>
						<label for="email" class="required">Email <span class="asterisk">*</span></label>
					<input type="text" name="email" id="email" style="background-color: white;" class="input-text required-entry validate-email">
					
				</li>
				
							
				
				<li>					
					
				<label for="problem">Nature of the problem you faced<span class="asterisk">*</span></label>
					<textarea style="background:#fff;  height:43px;" cols="20" rows="4"  name="problem" id="problem" class="required-entry input-text"></textarea>
				</li>	
					<li>					
					
					<label for="comment" class="required">Your message <span class="asterisk">*</span></label>
					<textarea style="background:#fff;  height:113px;" cols="20" rows="4" name="comment" id="comment" class="required-entry input-text"></textarea>
				</li>	
					<li>					
					
					<input type="submit" class="submit" id="" value="Submit" name="submit">
				</li>	
				
				


				
			</ol>
		
					
		</fieldset>
		</form>
			
	</div>		
			
</div></div>



<div class="cbwh">
<div style="border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-mso-border-radius: 5px;
box-shadow: 0px 2px 0px #dbdcde;
-moz-box-shadow: 0px 2px 0px #dbdcde;
-webkit-box-shadow: 0px 2px 0px #dbdcde;
-mso-box-shadow: 0px 2px 0px #dbdcde;
border: solid 1px #c8030b;
background-color: #e36706;
font-weight: bold;
text-shadow: 1px 1px 0px #b02429;
color: #FFFFFF;
background: url(http://www.printland.in/skin/frontend/default/default/images/nav-bg.gif)repeat-x 0 0;
padding: 10px;
margin-bottom: 0px;">Printland, Best Known For:</div>
<ul itemprop="description" class="Clear" style="border:none;">

        <li style="width: 200px; margin-left: 0px;"> <img src="/images/spacer.gif" height="1" width="1" alt="">

        

            <h2 style="font-size: 12px;"><img src="http://campaign.printland.in/images/fast&amp;quick.png" style="vertical-align: middle; width:40px;">Fast &amp; Quick Delivery.</h2>

        </li>

       <li style="width: 200px; margin-left: 0px;"> <img src="/images/spacer.gif" height="1" width="1" alt="">

          <h2 style="font-size: 12px;"><img src="http://campaign.printland.in/images/guarantee.png" style="vertical-align: middle; width:40px;">  Best in Class Services.</h2>

        </li>

        <li style="width: 200px; margin-left: 0px;"> <img src="/images/spacer.gif" height="1" width="1" alt="">

          <h2 style="font-size: 12px;"><img src="http://campaign.printland.in/images/across500.png" style="vertical-align: middle; width:40px;">Delivery across 500 Cities.</h2>

    
        </li>
        
<li style="width: 200px; margin-left: 0px;"> <img src="/images/spacer.gif" height="1" width="1" alt="">

          <h2 style="font-size: 12px;"><img src="http://campaign.printland.in/images/lower-price-gur.png" style="vertical-align: middle; width:40px;">Lowest Price Guranteed.</h2>

        </li>
               

      </ul>

</div>

<div class="cbwh">
<div class="FormBox BdrRadius5" style="padding: 0px; border-radius: 7px; height: 555px; width: 230px; background:none; text-align:center;">

                  

   <div class="left-side-heading" style="margin-bottom:5px;">Trusted Partner for Top Brands</div>

 
 
 
 
 
 
 
 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-4.png" style="width: 60px; ">   </div>


  <div class="image-partner"><img src="http://campaign.printland.in/images/BTLOGO1.png" style="width: 60px; ">   </div>


  <div class="image-partner"><img src="http://campaign.printland.in/images/wipro.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-6.png" style="width: 60px; ">   </div>






 <div class="image-partner"> <img src="http://campaign.printland.in/images/tcs.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/BTLOGO6.png" style="width: 60px; ">   </div>









 <div class="image-partner"><img src="http://campaign.printland.in/images/GOV-1.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/GOV-2.png" style="width: 60px; ">   </div>


 <div class="image-partner"><img src="http://campaign.printland.in/images/GOV-3.png" style="width: 60px; ">   </div>













 <div class="image-partner"> <img src="http://campaign.printland.in/images/dell.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/convergys.png" style="width: 60px; height: 44px;  ">    </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/genpact.png" style="width: 60px; height: 44px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/irctc.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-5.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-1.png" style="width: 60px; ">   </div>



 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-2.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/dhl.png" style="width: 60px; ">   </div>


 <div class="image-partner"> <img src="http://campaign.printland.in/images/LOGO-NEW-3.png" style="width: 60px; ">   </div>
 
 
 
 
  <div class="image-partner"> <img src="http://campaign.printland.in/images/iam.png" style="width: 60px; ">   </div>



 <div class="image-partner"><img src="http://campaign.printland.in/images/metacut.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/zsassociate.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/forbes-marshall.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/indo-us.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/edifecs.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/fratelli-wines.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/proval.png" style="width: 60px; ">   </div>

 <div class="image-partner"> <img src="http://campaign.printland.in/images/ritu-tshirt.png" style="width: 60px; ">   </div>

<div class="image-partner"> <img src="http://campaign.printland.in/images/BTLOGO2.png" style="width: 60px; ">   </div>

<div class="image-partner"> <img src="http://campaign.printland.in/images/BTLOGO3.png" style="width: 60px; ">   </div>


<div class="image-partner"> <img src="http://campaign.printland.in/images/BTLOGO4.png" style="width: 60px; ">   </div>         

       <h2 style="color: #F7132E;font-weight: bold;text-align: right;width: 100%;font-size: 12px;">+ 500 Brands</h2>             

                </div>




</div>


		</aside><!-- .right-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('report', true);
//]]>

function ValidateAlpha(){	
		var keyCode = window.event.keyCode;	
		if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)		{
			window.event.returnValue = false;	
			alert("Enter only letters");		
		}
	}

</script>