<style>

input.input-text, textarea {
padding: 3px;
}
.required {color: rgb(102, 102, 102);font-weight: bold;
font-size: 13px;}

.validation-advice {
clear: both;
min-height: 13px;
margin: 5px 0px 0px 143px;
padding-left: 17px;
font-size: 11px;
font-weight: bold;
line-height: 13px;
color: #eb340a;
}
</style>

<div class="page-title">
   <h1><?php echo Mage::helper('sales')->__('Returns') ?></h1>
</div>
<div class="block-content" style="background: #f0f0f0;margin-right: 14px;">
   <form id="oar_widget_orders_and_returns_form" action="<?php echo $this->getActionUrl() ?>" method="post" class="search-form" name="guest_post">
       <ul class="form-alt" style="margin-left: 30px; padding: 29px 1px 55px 5px;">
	   
	   
	   
          
           <li style="clear:both; margin-top: 30px;">
              
                   <label for="oar_order_id" style="width:115px;float: left;" class="required"><?php echo Mage::helper('sales')->__("Order ID") ?> <span style="color: red;">*</span></label>
            
              
                   <span>PL - </span> <input type="text" style="width:305px;" class="input-text required-entry" id="oar_order_id" name="oar_order_id" style="width:300px;"/>
               
           </li>
          
           <li style="clear:both; margin-top: 15px;">
              
                   <label for="oar_billing_lastname" style="width:140px; float: left;" class="required"><?php echo Mage::helper('sales')->__('Billing Last Name') ?><span style="color: red;">*</span></label>
           
               
                   <input type="text" style="width:305px;" class="input-text required-entry" id="oar_billing_lastname" name="oar_billing_lastname"  style="width:300px;"/>
              
           </li>
           <li style="clear:both; margin-top: 15px;">
               
                   <label style="width:140px;float: left;" class="required"><?php echo Mage::helper('sales')->__('Find Order By:') ?></label>
              
              
                   <select name="oar_type" style="width:313px !important; "  id="quick_search_type_id" class="select guest-select" title="" onchange="showIdentifyBlock(this.value);">
                       <option value="email">Email Address</option>
                       <option value="zip">ZIP Code</option>
                   </select>
            
           </li>
           <li id="oar-email" style="clear:both; margin-top: 15px;">
              
                   <label for="oar_email" style="width:140px;float: left;" class="required"><?php echo Mage::helper('sales')->__('Email Address') ?><span style="color: red;">*</span></label>
               
              
                  <input type="text" style="width:305px;" class="input-text validate-email required-entry" id="oar_email" name="oar_email"  style="width:300px;"/>
               
           </li>
           <li id="oar-zip" style="display:none;clear:both; margin-top: 15px;">
               
                   <label for="oar_zip" style="width:140px;float: left;" class="required"><?php echo Mage::helper('sales')->__('Billing ZIP Code') ?> <span style="color: red;">*</span></label>
             
             
                   <input style="width:305px;" type="text" class="input-text required-entry" id="oar_zip" name="oar_zip" style="width:300px;"/>
              
           </li>
           <li style="clear:both; margin-top: 15px;">
               <div class="input-box" style="text-align:right;width:455px">
                   <button type="submit" title="Continue" class="button"><span><span><?php echo Mage::helper('sales')->__('Continue') ?></span></span></button>
               </div>
           </li>
		   
		   
		   
		   
		   
		   
		   
		   
       </ul>
   </form>
</div>
<script type="text/javascript">
//<![CDATA[
    if ($('quick_search_type_id').value == 'zip') {
        $('oar-zip').show();
        $('oar-email').hide();
    } else {
       $('oar-zip').hide();
       $('oar-email').show();
    }

   var dataForm = new VarienForm('oar_widget_orders_and_returns_form', true);

   function showIdentifyBlock(id)
   {
       if (id == 'zip') {
           $('oar-zip').show();
           $('oar-email').hide();
       } else if (id == 'email') {
           $('oar-zip').hide();
           $('oar-email').show();
       }
       return false;
   }
//]]>
</script>
