<style>
#mies1{   
    bottom: 0;
    height: 0px;
    left: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: auto;
    visibility: visible;
    width: 447px;
    z-index: 16776274;	
   
}


 .simple_overlay {
  
  font-family : Arial, sans-serif;
   font-size: 14pt;
   font-weight:bolder;
   color:#333;        
	background: none repeat scroll 0 0 #eee;
    border: 3px solid #27b4e8;  
    cursor: default;
    z-index: 999;	
       position: relative;
    width: 425px;
  
}
input.john
{height:30px;
width:202px;
border:1px solid #b1b1b1;
border-radius:3px;

padding-left:10px;
margin-top:5px;
font-weight:bold;}

input.john:hover
{
border:1px solid #27b4e8;
box-shadow:0 0 5px 1px #27b4e8;
} 

input.btn
{background-color:#27b4e8;
width:100px;
height:30px;
border:none;
border-radius:3px;
font-size:16px;
font-weight:bold;
cursor:pointer;

margin:14px 50px;
color:#fff;}
input.btn:hover
{
color:#fff;
box-shadow:0 0 5px 1px #27b4e8;
border:1px solid #27b4e8 ;
}
h1
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
   
	margin:10px 0px;
	margin-bottom:0px;
	
	
}
h4
{font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
   	border-bottom:1px solid #b1b1b1;
	margin:5px 20px;
	margin-top:0px;
	}
label.naresh
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px; 	
	
}
.john {font-size:12px;}


.simple_overlay #close {
    background-image:url(http://printland.in/skin/frontend/default/default/images/pclose.png);
    position:absolute;
  right: 1px;
top: 1px;
    cursor:pointer;
    height:15px;
    width:15px;
}
</style>


<?php 
// Open database connection
mysql_connect('localhost', 'printlan_print', '123qwe!2');
mysql_select_db('printlan_plint_printland');


?>



<?php
if (isset($_REQUEST['email']))
//if "email" is filled out, send email
  {
 
   $name = $_POST['name'] ;
   $email = $_POST['email'] ;
   $mob = $_POST['mob'] ;
  

	$to = "business.printland@gmail.com";	
	$to1="kakar.sanjeev@gmail.com";	
	
	
	
	$subject = "Letterheads Enquiry recieved from printland.in";
		  
     $message = 

     "Enquiry recieved from printland.in. ".
	"\n\n Name :  $name \n\n Email :  $email \n\n Mobile No : $mob"; 

	$from = "printland.in";
	$headers = "From:" . $from;
	
	
	
			
		$query = "INSERT INTO popup_inquiry (name, email, mob)  VALUES ('".$name."', '".$email."', '".$mob."')";
		$sql=mysql_query($query);
		
			mail($to,$subject,$message,$headers);
			mail($to1,$subject,$message,$headers);
			
			
			
		}
		

else
//if "email" is not filled out, display the form
  {
  echo "
  
  
  <div class='simple_overlay' id='mies1'> 
  <div id='close'></div>
  
  <div style='float:left; width:210px; height:260px;  margin: 0px 0px 0px 0px; border-right:1px solid #b1b1b1; padding:0 5px; font-size:12px;'>
  <h1>CLAIM YOUR FREE GIFT</h1><br/><span style='color:#FF0000;'>BUSINESS CARD HOLDER worth Rs.250</span> <br/>With your Order of Letterheads. <br><img width='210' height='187' style='margin-top:4px;'  src='http://printland.in/skin/frontend/default/default/images/letter-banner.png'></div>
  
  <div style='float:right; '>
   <h1>Register now:</h1>
    <form method='post' action=''>
  <div class='container'>
<label class='naresh' for='name'>Your Name:</label> <br>
<input class='john' type='text' name='name' maxlength='50' required='required' placeholder='Name....'>
</div>
 
  <div class='container'>
<label class='naresh' for='email'>Email Address:</label> <br>
<input class='john' type='text' name='email' maxlength='50' required='required' placeholder='E-Mail Id....' > <br>
</div>

 <div class='container'>
<label class='naresh' for='message'>Mobile no:</label> <br>
<input class='john' type='text' name='mob'  maxlength='11' required='required' placeholder='Contact Number....'>
</div> 
<input type='submit'id='submit' class='btn'>
 
  </form>
  </div>
  
  
  </div>";
  
  }
?>




<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$(document).ready(function(){$( "#mies1" ).animate({height: '260px',}, 1500 );
$("#close").click(function(){$(this).parent().animate({height: '0px'}, 1500 );
$(this).parent().css('border','none');
});});
</script>