<?php 
if(isset($_POST['upload']))
{
echo $_FILE['pdffile']['name'];
}
 ?>
<form name="myform" action="#" method="post" enctype="multipart/form-data" id="upfile">
<div>
<input type='file' name='pdffile' class='buttons'>
<button id="uplod" name="upload" type="button" class="scalable" style=""><span><span><span>UPLOAD</span></span></span></button>
</div>
</form>