<?php //if(!Mage::registry('current_category')) return;
 
//if current category is defined
//$magentoCurrentCategory = Mage::registry('current_category');
 //$magentoCurrentCategory->getName();
 //$catId=$magentoCurrentCategory->getId();
echo "<div class='hot'>";
$catarray = array(741,395,14,166); 
$i = 0;
while($i<4)
{
 //foreach ($magentoCurrentCategory as $_category){
 //$children = Mage::getModel('catalog/category')->getCategories($catarray[$i]);

 if($i%4 == 0){
			 echo"</ul>";
			 echo"<ul>";
			}
			
//foreach ($children as $category) 
	//{
	 $subCategory = Mage::getModel('catalog/category')->load($catarray[$i]); 
	 $imageUrl= Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."catalog/category/".$subCategory->getThumbnail();
	//$imageUrl= $subCategory->getThumbnailUrl();

	?>
	<li><div class="rc-image-hldr"><a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><img src="<?php echo $imageUrl; ?>" alt="<?php echo $this->htmlEscape($subCategory->getName()) ?>"  /></a></div>
	<a href="<?php echo $subCategory->getUrl() ?>" title="<?php echo $this->htmlEscape($subCategory->getName()) ?>"><b><?php echo $this->htmlEscape($subCategory->getName()) ?></b></a>
	</li>
	<?php
	//}

 
  $i++;
  }
  echo "</div>";
 ?>
 <script>
 /*var sentence = "Pumpkin pie and ice cream";
var words[] = sentence.split(" ");
alert(words[2]);*/
</script> 
