<?php 
	include $_SERVER['DOCUMENT_ROOT']."JSON.php";
	/* $product_collection = Mage::getModel("catalog/product")->getCollection(); ?>
	<?php $category = Mage::getModel("catalog/category")->load(369); ?>
	<?php $product_collection->addCategoryFilter($category); ?>
	<?php foreach($product_collection as $product): ?>
	<?php $loded_product = Mage::getModel("catalog/product")->load($product->getId()) ?>
				<?php echo $loded_product->getName();?>
	<?php endforeach ?>
    <?php 
	$product = Mage::getModel("catalog/product")->load(332);
    $i = 1;
    echo "<pre>";
    foreach ($product->getOptions() as $o) {
		print_r($o);
        echo "<strong>Custom Option:" . $i . "</strong><br/>";
        echo "Custom Option TYPE: " . $o->getType() . "<br/>";
        echo "Custom Option TITLE: " . $o->getTitle() . "<br/>";
        echo "Custom Option Values: <br/>";
        // Getting Values if it has option values, case of select,dropdown,radio,multiselect
        $values = $o->getValues();
        foreach ($values as $v) {
                print_r($v->getData());
        }
        $i++;
        echo "----------------------------------<br/>";
    }
    ?>
    http://plint.in/checkout/cart/add?product=332&qty=4&options[Id]=value&options[Id]=value
    http://plint.in/checkout/cart/add?product=332&qty=4&options[1]=3&options[2]=5
	<?php  die();  */?>
<?php
$baseUrl = Mage::getBaseUrl('web');
$productId = $_REQUEST['productId'];
$qty= $_REQUEST['qty'] ? $_REQUEST['qty'] : 1;
//$parentId = $_REQUEST['parentId'];
$sku = $_REQUEST['sku'];
Mage::getSingleton('core/session')->setTestingMagento('hello');

$designId = $_REQUEST['designId'];
//die($designId);
$assigncartid = Mage::getSingleton('core/session')->setAssignId($designId);

$write = Mage::getSingleton('core/resource')->getConnection('core_write');
$query = "SELECT * FROM `assign_info` WHERE designId = '$designId' "; 	
$res = $write->query($query);
$row = $res->fetch();

$getdesignId   = $row['designId'] ;
$getitemId   = $row['itemId'] ;


echo "<b>Please Wait.....</b>";



if($getdesignId =='' ){
	$product=Mage::getModel("catalog/product")->load($productId); 
	
    //$configurableAttributeCollection=$product->getTypeInstance()->getConfigurableAttributes(); 
	
	
	/*$new=Null;
    foreach($configurableAttributeCollection as $attribute){
               $attributeid =  $attribute->getProductAttribute()->getId();
			   $new = $attributeid;
    }
	echo $new;
		$productAttributeOptions = $product->getTypeInstance(true)->getConfigurableAttributesAsArray($product);
		$attributeOptions = array();
		foreach($productAttributeOptions as $productAttribute){
			foreach ($productAttribute['values'] as $attribute){
			   $optionId =  $attribute['value_index']; 
			   
			}
		}*/
		
		
		/*$colo=Mage::getModel("catalog/product")->load($colorId); 
		echo "opid  ".$colo->color;
		$product = Mage::getModel('catalog/product')->load($productId);
		$childProducts = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$product);
		foreach($childProducts as $child){
			}*/
			//echo "id:".$child->entity_id; 
	    $query1 = "INSERT INTO `assign_info` SET  `designId` = '$designId', `sku` = '$sku', `productId` = '$productId', `itemId` = '0', `parentId` = '0'";
        $write->query($query1);
		
		//http://www.plint.in/checkout/cart/add?product=1882&qty=1&designId=1353508391&options[42]=82&options[43]=85&options[44]=89
		
		$attributes = json_decode(urldecode($_REQUEST['attr']));
	//	$attributes = explode(',',$attr);
		$options = "";
		for($i=0;$i<count($attributes);$i++){
			$attribute = (object)$attributes[$i];
			if($i>0){
				$options.="&";
			}			if($attribute->type=='O'){
				$options.="options[".$attribute->id."]=".$attribute->value;			}else{				$options.="super_attribute[".$attribute->id."]=".$attribute->value;			}
		}
		
		echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/add?product=$productId&qty=$qty&designId=$designId&$options')</script>";//super_attribute[$attributeid]=$optionId&options[1]=3
		}else{
			 echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/')</script>";
		}
	?>