<?php 
	include $_SERVER['DOCUMENT_ROOT']."JSON.php";
?>
<?php
$baseUrl = Mage::getBaseUrl('web');
$productId = $_REQUEST['productId'];
$qty= $_REQUEST['qty'] ? $_REQUEST['qty'] : 1;

$sku = $_REQUEST['sku'];
Mage::getSingleton('core/session')->setTestingMagento('hello');

$designId = $_REQUEST['designId'];

$assigncartid = Mage::getSingleton('core/session')->setAssignId($designId);

$write = Mage::getSingleton('core/resource')->getConnection('core_write');
$query = "SELECT * FROM `assign_info` WHERE designId = '$designId' "; 	
$res = $write->query($query);
$row = $res->fetch();

$getdesignId   = $row['designId'] ;
$getitemId   = $row['itemId'] ;


echo "<b>Please Wait.....</b>";



if($getdesignId =='' ){
	$product=Mage::getModel("catalog/product")->load($productId); 
	
	$query1 = "INSERT INTO `assign_info` SET  `designId` = '$designId', `sku` = '$sku', `productId` = '$productId', `itemId` = '0', `parentId` = '0'";
        $write->query($query1);
		
		$attributes = json_decode(urldecode($_REQUEST['attr']));
		$options = "";
		for($i=0;$i<count($attributes);$i++){
			$attribute = (object)$attributes[$i];
			if($i>0){
				$options.="&";
			}			if($attribute->type=='O'){
				$options.="options[".$attribute->id."]=".$attribute->value;			}else{				$options.="super_attribute[".$attribute->id."]=".$attribute->value;			}
		}
		
			$cartHelper = Mage::helper('checkout/cart');
			$items = $cartHelper->getCart()->getItems();
			
			foreach ($items as $item) {
				$itemId = $item->getItemId();
			//	echo  $itemId.' == '.$_REQUEST['cartId'].'</br>';
				if ($itemId == $_REQUEST['cartId']) {
					$cartHelper->getCart()->removeItem($itemId)->save();
				//	break;
				}
			}
			echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/add?product=$productId&qty=$qty&designId=$designId&$options')</script>";//super_attribute[$attributeid]=$optionId&options[1]=3
		}else{
			$cartHelper = Mage::helper('checkout/cart');
			$items = $cartHelper->getCart()->getItems();
			
			foreach ($items as $item) {
				$itemId = $item->getItemId();
			//	echo  $itemId.' == '.$_REQUEST['cartId'].'</br>';
				if ($itemId == $_REQUEST['cartId']) {
					$cartHelper->getCart()->removeItem($itemId)->save();
				//	break;
				}
			}
			echo"<script language='javascript'>location.replace('".$baseUrl."checkout/cart/')</script>";
		}
	?>