
<?php $baseUrl = Mage::getBaseUrl('web'); ?>

<script>
	function saveDesignComplete(designid,preview,xtra){
		alert("DESIGN SAVED: "+designid+"     PREVIEW AVALIABLE: "+preview);
	}
</script>
<div style="text-align:center" id="contener">
      <iframe id="designer-iframe" scrolling="no" style="position: relative; border: 0px none; width: 940px; height: 770px; padding:10 auto;top:0px;" src="<?php echo $baseUrl ?>customizer-v1/index.php?ptype="0"&Utype=1"></iframe>  
	</div>
