<?php
/**
 * Direcpay
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * @category   design_default
 */
?>
<div class="page-head">
    <h3><?php echo $this->__('Payment Failed or Cancelled') ?></h3>
</div>
<p><?php echo $this->__('Apologies. Your payment was not successful. If there is an error on our end, kindly email us the following details for verification.') ?></p>
<p><?php echo $this->getErrorMessage() ?>.</p>
<p><?php echo $this->__('Please <a href="%s">continue shopping</a>.', $this->getContinueShoppingUrl()) ?></p>