<?php
/**
 * Direcpay
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * @category   design_default
 */
?>
<?php
$_code	= $this->getMethodCode();
?>
<fieldset class="form-list">
	<ul id="payment_form_<?php echo $_code ?>" style="display:none">
		<li>
			<?php echo $this->__('You will be redirected  secure payment page when you place an order.') ?>
		</li>
	</ul>
	<!-- code removed from here.-->

</fieldset>