
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('navigation')->toHtml() ?>
<br />
<br /><br />
<?php
$productid = isset($_REQUEST['productId']) ? $_REQUEST['productId'] : 0;
$categoryId	= isset($_REQUEST['categoryId']) ? $_REQUEST['categoryId'] : 0;
/*
if($_REQUEST['uid']){
	$query = explode('&',base64_decode($_REQUEST['uid']));
	$productid = explode('=',$query[0])[1];
	$categoryId = explode('=',$query[1])[1];
}*/
$cartId		   =isset($_REQUEST['cartId']) ? $_REQUEST['cartId'] : 0;
$_product = Mage::getModel('catalog/product')->load($productid); 
if($_REQUEST['designId']){
	$design	= $_REQUEST['designId'];
	$isTemplate	= 0;
}else{
	$design	= $_product->design_id;
	$isTemplate	= ($_product->getAttributeSetId() == 10) ? 1 : 0;
}

if($_product->getAttributeSetId() == 10){
	$zoom	= 1;
}




$attributeId	= $_product->getAttributeId()   	  ? $_product->getAttributeId()   	: 0;
$parent		 = $_product->getParent_id()	 	? $_product->getParent_id()      : 0;
$layoutType	 =$_product->getLayoutType()       ? $_product->getLayoutType()     : 0;
$preview	    =$_product->getPreview() 	   	  ? $_product->getPreview()        : 0;
$width		  =$_product->getProduct_width() 	? $_product->getProduct_width()  : 0;
$height		 =$_product->getProduct_height()   ? $_product->getProduct_height() : 0;
$xtype		  =$_product->getXtype() 	     	? $_product->getXtype()          : 'U';




$img = isset($_REQUEST['img'])? $_REQUEST['img'] : '';	$customer = Mage::getSingleton('customer/session')->getCustomer();	$firstname = $customer->getFirstname();

?>


<script>
	function login(uname,pass){
		alert(uname+" "+pass);
		var xmlhttp;
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp=new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
			}
		}
		xmlhttp.open("POST","customizer-v1/php/login.php",true);
		xmlhttp.send("username="+uname+"&password="+pass);
	}
	
	function saveDesignComplete(productid,designid,superAttributes,qty,sku){
		window.location.href = "<?php echo Mage::getBaseUrl('web');?>"+"cart/?cartId="+<?php echo $cartId;?>+"&productId="+productid+"&designId="+designid+"&qty="+qty+"&attr="+superAttributes+"&sku="+sku;
		console.log("Product Id: "+productid+"  DESIGN SAVED: "+designid+"     ATTRIBUTES: "+superAttributes+" qty:"+qty);
	}		
</script>
<div id="contener">
      <iframe id="designer-iframe" scrolling="no" style="position: relative; border: 0px none; width: 100%; height: 810px; padding:10 auto;top:0px;" src="customizer-v1/index.php?cartId=<?php echo $cartId ?>&ptype=<?php echo 0 ?>&attributeId=<?php echo $attributeId ?>&product=<?php echo $productid ?>&design=<?php echo $design ?>&parent=<?php echo $parent ?>&layoutType=<?php echo $layoutType ?>&preview=<?php echo $preview ?>&width=<?php echo $width ?>&height=<?php echo $height ?>&xtype=<?php echo $xtype ?>&Utype=0&isTemplate=<?php echo $isTemplate ?>&categoryId=<?php echo $categoryId ?>&img=<?php echo $img ?>&tmp=<?php echo time() ?>"></iframe>  
	</div>
