<style>
a:hover {text-decoration:underline; font-weight:bold;}
</style>
<div class="page-head">
    <h3><?php echo $this->__('Payment transaction has been canceled.') ?></h3>
</div>
<p><?php //echo $this->getErrorMessage() ?>.</p>
<p><?php echo $this->__('Please <a style="color:#bf291d; font-weight:bold;" href="%s">continue shopping</a>.', $this->getBaseUrl()) ?></p>