
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <br />
<li><div class="visa"></div></li>
		 
		<li>
            <?php echo $this->__('You will be redirected to PayuCheckout website when you place an order.') ?>
			
        </li><br />
		
    </ul>
</fieldset>