<?php
	$this->handleRequest();

	$_REQUEST = $this->getRequest()->getParams();
	$user = Mage::getSingleton('admin/session');
	
	$mLicenseCodeOld = Mage::helper('weplugin')->readLicenseCodeFromDb();
	$mWidgetStatus = Mage::helper('weplugin')->readWidgetStatusFromDb();
	
	$userId = $user->getUser()->getUserId();
	$userEmail = $user->getUser()->getEmail();
	$userFullName = $user->getUser()->getFirstname() . " ". $user->getUser()->getLastname();
	
	$siteUrl = Mage::getBaseUrl (Mage_Core_Model_Store::URL_TYPE_WEB);
	$baseUrl = Mage::getBaseUrl ();
	$next_url = Mage::helper('weplugin')->getUrlWrapper(Mage::helper("adminhtml")->getUrl("weplugin/adminhtml_webengagecallback"))."?noheader=true&form_key=".$this->getFormKey();
	$page_url = Mage::helper('weplugin')->getUrlWrapper(Mage::helper("adminhtml")->getUrl("weplugin/adminhtml_webengagemain"))."?noheader=true";
	$resize_url = Mage::helper('weplugin')->getUrlWrapper(Mage::helper("adminhtml")->getUrl("weplugin/adminhtml_webengageresize"));
	$activation_url = Mage::helper('weplugin')->getUrlWrapper(Mage::helper("adminhtml")->getUrl("weplugin/adminhtml_webengagemain"))."?weAction=activate";
	
	$email = $userEmail;
	$urlArr = parse_url($siteUrl);
	$domainName = $this->getRequest()->getHttpHost();
	$webengage_host_name = "webengage.com";
	$webengage_host = 'http://'.$webengage_host_name;
	$secure_webengage_host = 'https://'.$webengage_host_name;
	$resend_email_url = $webengage_host . "/thirdparty/signup.html?action=resendVerificationEmail&licenseCode=" . urlencode($mLicenseCodeOld) . "&next=". urlencode($next_url) . 
				"&activationUrl=" . urlencode($activation_url) . "&channel=magento";
?>
<div class="wrap Configuration">
	<div id="icon-options-general" class="icon32"></div><h2>WebEngage Configuration</h2>
	<?php
		// rendering message/error-message as a wp-message if any
		if(isset($_REQUEST['message']) && $_REQUEST['message']) {
	 ?>
		<div id="message" class="updated mag_message_box" style="font-size:16px;">
			<p class="mag_message_box_text"><?php echo $_REQUEST['message'] ?></p>
		</div>
	<?php } else if (isset($_REQUEST['error-message']) && $_REQUEST['error-message']) { ?>
		<div id="message" class="error mag_message_box">
			<p class="mag_message_box_text"><?php echo $_REQUEST['error-message'] ?></p>
		</div>
	<?php } else if ($mWidgetStatus !='' && $mWidgetStatus === 'PENDING') { ?>
		<div id="message" class="error mag_message_box">
			<p class="mag_message_box_text">Your WebEngage plugin is not active currently because the email associated with your account needs to be verified.
				We have sent you the activation email already, please follow the instructions therein. In case you haven't received the email, <a class="resend-email-link" href="#">click here to resend the activation email</a>.<span class="discard-msg">[ <a id="discard-message-link" href="#" title="Discard this message">discard</a> ]</span></p>
			
			<form id="form_discard_message" method="post" action="<?php echo Mage::helper('weplugin')->getUrlWrapper($this->getFormAction()) . "?noheader=true"; ?>">
					<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
					<input type="hidden" value="discardMessage" name="weAction" />
					<input type="hidden" value="<?php echo $mLicenseCodeOld; ?>" name="webengage_license_code" />
			</form>
			<script type="text/javascript">
				var discardLink = document.getElementById("discard-message-link");
				discardLink.onclick = function(){
					if(confirm('Do you really wish to discard this message? Please make sure that your account is active'))
					{
						document.getElementById("form_discard_message").submit();
					}
					return false;
				}
			</script>
			
		</div>
	<?php
		}
	?>
	<div class="webengage-container">
		<div class="webengage-logo-container">
			<img src="//staticz-webengage.s3-ap-southeast-1.amazonaws.com/images/webengage/webengage-logo-header.png"/>
		</div>

		<?php if (empty($mLicenseCodeOld) || $mLicenseCodeOld == "") { ?>
			<div class="webengage-form-container">
				<div class="webengage-form inline-forms">
					<h3>New to WebEngage? Create your account</h3>
					<hr/>
					<?php 
						$src_url = $secure_webengage_host. "/thirdparty/signup.html?". "next=". urlencode($next_url) .
											 "&em=".urlencode($email)."&domain=".urlencode($domainName)."&nm=".urlencode($userFullName)."&resizeUrl=".urlencode($resize_url).
											 "&activationUrl=".urlencode($activation_url).
											 "&channel=magento";
					?>
					<div id="webengage-loading-info">Loading, please wait ...</div>
					
					<iframe src="<?php echo $src_url; ?>" class="webengage-iframe signup-iframe" id="we-signup-iframe" marginheight="0" frameborder="0" style="height:0;background-color:transparent;" allowTransparency="true"></iframe>
				</div>

				<div class="webengage-form inline-forms">
					<h3>Already a Webengage user? Add license code for <?php echo $domainName ?></h3>
					<hr>
					<p>Copy the license code for <?php echo $domainName; ?> from your <a target="_blank" class="external_icon" href="<?php echo $webengage_host ?>/publisher/dashboard">WebEngage Dashboard</a> and paste it here.</p>
					<form method="post" action="<?php echo Mage::helper('weplugin')->getUrlWrapper($this->getFormAction()) . "?noheader=true"; ?>">
							<label for="webengage_license_code"><b>Your WebEngage License Code</b></label>
							<input id="webengage_license_code" type="text" name="webengage_license_code" placeholder="License Code" value="<?php echo $mLicenseCodeOld ?>"/>
							<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
							<input type="hidden" value="wp-save" name="weAction" />
							<input type="hidden" value="submit" name="submit"/>
							<button type="submit">Save</button>
					</form>
				</div>

				<br class="clear"/>
			</div>
		<?php } else { ?>
			<div class="webengage-form-container">
				<form id="form_we_change_reset" method="post" action="<?php echo Mage::helper('weplugin')->getUrlWrapper($this->getFormAction()) . "?noheader=true"; ?>">
					<label for="webengage_license_code"><b>Your WebEngage License Code</b></label>
					<input readonly="true" id="webengage_license_code" type="text" name="webengage_license_code" placeholder="License Code" value="<?php echo $mLicenseCodeOld ?>"/>
					<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
					<input type="hidden" id = "id_we_action" value="wp-save" name="weAction"/>
					<!-- input type="hidden" value="submit" name="submit"/ -->
					<span><a id="update-license-code-link" href="#">Change</a></span>
					<span>
						or, <a id="reset-license-code-link" href="#">Reset</a>
					</span>
				</form>
				<script type="text/javascript">
					var changeLink = document.getElementById("update-license-code-link");
					changeLink.onclick = function(){
						document.getElementById("webengage_license_code").removeAttribute("readonly");
						this.parentNode.innerHTML = '<button type="submit">Save</button>';
						return false;
					}
					
					var resetLink = document.getElementById("reset-license-code-link");
					resetLink.onclick = function(){
						if(confirm('Do you wish to change your email or domain name for this plugin?'))
						{
							document.getElementById("id_we_action").setAttribute("value", "reset");
							document.getElementById("form_we_change_reset").submit();
						}
						return false;
					}
				</script>
			</div>
			
			<div class="webengage-instructions">
				Your WebEngage widget is installed. What's next?
				<ol>
					<li>
						Manage this widget from your <a href="http://webengage.com/publisher/dashboard">WebEngage dashboard</a>. List of things you can do -
						<ul style="padding-left:30px;">
							<li style="margin-top:6px;"><b>Feedback</b>: Create your feedback tab with custom text and colors. Choose your language for the widget. Manage your categories and fields for feedback.</li>
							<li><b>Notifications</b>: Create your own short notification. Add filters (targeting rules) to show this notification only to a specific set of audience. Drive traffic. Increase conversion. Get real-time reports.</li>
<li><b>Surveys</b>: Create surveys and add targeting rules for them. Modify CSS to customize the survey skin to match your site's look and feel. View realtime analytics & reports.</li>
						</ul>
					</li>
					<li>The widget is not appearing on your site even after saving the license code? This is most likely beacause you haven't verified your email yet. <a class="resend-email-link" href="#">Resend the activation email</a>.</li>
					<li>Can't access your dashboard? Try <a href="http://webengage.com/user/account.html?action=viewForgot">forgot password</a>. If nothing works, please <a href="http://webengage.com/contact">get in touch</a> with us.</li>
					<li>Choose from a range of <a href="http://webengage.com/pricing">pricing plans</a> that fits your requirement. Uprades or downgrades done in the dashboard reflect automatically on your site without changing anything in the plugin.</li>
				</ol>
			</div>
			<script>
				window.onload = function() {
					var resendLinks = document.getElementsByTagName('a');
					for(var i = 0; i < resendLinks.length; i++) {
				    		var resendLink = resendLinks[i];
				    		if(resendLink.className === 'resend-email-link') {
							resendLink.onclick = function() {
					    			var newFrame = document.createElement("iframe");
								newFrame.style.height = "0px";
								newFrame.setAttribute("marginheight", "0");
								newFrame.setAttribute("frameborder", "0");
								newFrame.setAttribute("src", "<?php echo $resend_email_url; ?>");
								document.body.appendChild(newFrame);
								return false;
							}
			    			}
					}
			    	}
			</script>
			<br class="clear"/>
		<?php } ?>
	</div>
	<script type="text/javascript">
		var resizeIframe = function (height) {
			document.getElementById('we-signup-iframe').style.height = (parseInt(height) + 60) + "px";
		};
	</script>
</div>

