<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_Testimonials Magento Plugin
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */

	$base = Mage::getBaseUrl();
?>
<div class="breadcrumbs">
	<ul>
		<li class="home">
			<a title="<?php echo $this->__("Go to Home Page"); ?>" href="<?php echo $base; ?>"><?php echo $this->__("Home"); ?></a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong><a href="<?php echo $base; ?>testimonials/"><?php echo $this->__("Testimonials"); ?></a></strong>
		</li>
	</ul>
</div>

<div class="page-title">
	<h1><?php echo $this->__("Testimonials"); ?></h1>
</div>

<div class="testimonials">
<?php
	/**
	 * Display one
	 */
	$id = isset($_GET['t']) ? intval($_GET['t']) : 0;
	if($id > 0) {
		$row = $this->getTestimonialById( $id );
		
		echo "<div class='testimonial_entry'>\n"
				.$row['testimonial_text']."\n"
				."<p class='byline' style='padding: 7px 1px; font-weight: bold; color:#2B59A9'>- ".$row['testimonial_name']."</p>\n"
			."</div>\n";
	}
	
	/**
	 * Display all
	 */
	else {
		$rows = $this->getLatestTestimonials( 100 );
		
		foreach( $rows as $row ) {
			if(substr_count($row['testimonial_text'], ' ') > 50)
				$readmore = ' [<a target="_blank" href="'.$base.'testimonials/?t='.$row['testimonial_id'].'">'.$this->__('Read More').'</a>]';
			else
				$readmore = '';
			
			echo "<div class='testimonial_entry'>\n"
					.$row['testimonial_text']."\n"
					."<p class='byline' style='padding: 7px 1px; font-weight: bold; color:#2B59A9'>- ".$row['testimonial_name'].$readmore."</p>\n"
				."</div>\n"
				."<hr />\n";
		}
	}
?>
</div>