<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_Testimonials Magento Plugin
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */

	$base = Mage::getBaseUrl();
?>
<div class="breadcrumbs">
	<ul>
		<li class="home">
			<a title="<?php echo $this->__("Go to Home Page"); ?>" href="<?php echo $base; ?>"><?php echo $this->__("Home"); ?></a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong><a href="<?php echo $base; ?>testimonials/"><?php echo $this->__("Testimonials"); ?></a></strong>
		</li>
	</ul>
</div>

<div class="page-title">
	<h1><?php echo $this->__("Testimonials"); ?></h1>
</div>

<html>
<head>
<style>
.col-main {
float: left;
width: 100%;
padding: 0 0 1px;}
.col-left{display:none;}

.testimonial-content{ color:#848484 !important; line-height: 22px; border-bottom:1px solid #ececec;margin-top: 10px;font-style:italic;}

div.testimonial-icon{ background:url(http://themes.goodlayers.com/modernize/wp-content/themes/modernize-v3-00/images/icon/dark/quotes-18px.png) no-repeat  ; width:18px; height:18px; float:left; padding-right: 13px;}
div.testimonial-author{ margin:10px 3px 20px 0px; padding-bottom:10px; font-weight:bold; font-size:13px; text-align:right; }

p.testimonial_para{ margin-left:30px;}
</style>
</head >
<body>

<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Awesome support from Sheraz!!!......I really liked the details given to me. Indeed, the delivery is received.
<br/>
Great service and delivery time!!! Hats off......Keep up the good work....I will come back to Printland again for gifts....</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name"> 	Amitabh Dutta
</span><!--<span class="testimonial-author-position">, RM, LANES Team</span>--></div></div>









<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>The collage received now is of a very fine quality..<br/>
Thank you so much! :-)</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Jyoti Mahamna
</span><!--<span class="testimonial-author-position">, RM, LANES Team</span>--></div></div>

 <div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Hi, Thanks a lot for your quick response.I really liked the product which is delivered now. I appreciate the timely service and way issue was resolved. I have always trusted printland for your products and will continue to do so in future.</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Yashi Parolia
</span><!--<span class="testimonial-author-position">, RM, LANES Team</span>--></div></div>





<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Hello Pranav, We received the shipment. We really liked the quality and print of the pens. Thank you very much. I hope we will shortly visit you again.</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Sandeep 
</span><span class="testimonial-author-position">, RM, LANES Team</span></div></div>





<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>We have received the&nbsp;Diaries ordered from you. &nbsp;We thank you very much for&nbsp;providing an Excellent Quality of Diaries&nbsp;as per our instructions.&nbsp;The quality is&nbsp; more than what we expected. We also thank you for the excellent support and assistance in getting the diaries printed as per our specifications and delivering it on time.&nbsp;We will inform our requirements, if any, regarding printing, gift items etc. in future.
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">P K Anil Kumar
</span><span class="testimonial-author-position">, Senior Manager, Canara Bank, Payan</span></div></div>


<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>I got the book printed by you. It has come out very well. Thank you very much. I hope everything else regarding the payment is fine.
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Dr.Omana Antony
 </span><span class="testimonial-author-position">, Associate Prof., Lingaya's Univ</span></div>
</div>


<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>We are very happy with your services.i was paying the amount with the link &amp; my link got disconnected,i request you to pls send me link again so i can complete my payment-order no.1608.it &nbsp;only accepts 1 transaction.thanking you &amp; assuring you of my best co-operations always.
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Jyotsna Puthran</span>
</div></div>




<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Thanks for the quick turnaround.&nbsp; I appreciate your support.For future orders, I would like to touch base with you directly
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Umesh Hora Managing Partner 
</span><span class="testimonial-author-position">, The Mind Café India</span></div>
</div>




<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>I am glad to inform you that the Institute has approved the&nbsp; Invitation Card Design.The design and page layout were hit in the Institute. Guru commented as Simple and Elegant! Manager commented&nbsp;- " Excellent".Hearty congrats!
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Dr.S.Durai Raju
</span><span class="testimonial-author-position">, Min. of Statistics and Programme</span></div>
</div>

<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>I have good buying experience with Printland.in. Recently found my order(Coffee mug) on time and with quality work
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Anil Sharma Procurement Coordinator
</span><span class="testimonial-author-position">, Snapdeal.com</span></div>
</div>

<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>The ""F1 in Schools Technology Challenge"" was a great experience for the whole team. With your help and support, We were able to secure the overall First position in the North Zone&nbsp;Intermediate Category. The awards received by the team are listed below:<br />
1. Overall First(Out of about 40 teams which competed in our category)<br />
2. Fastest Car<br />
3. Best Research and Development<br />

We have always believed that our sponsors are an integral part of our team, and this feat could not have been achieved without you. With your continued support, We are sure that we will be able to reach greater heights."
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Abineet Das Sharma
</span><span class="testimonial-author-position">, Team Manager, Blitzkrieg, D.P.</span></div>
</div>

<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>I received the clock. Thank you so much for your extremely prompt and efficient service, I am totally overwhelmed!Thanks for the efforts&hellip;It&rsquo;s a job well done."

</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Sindhu V Nair

</span><span class="testimonial-author-position">, Elsevier</span></div>
</div>

<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Please take my vote of thanks for providing such a beautiful banner.Me and My Team is getting appreciations form our Expedia Team.You guys rocks&hellip;look forward your support and quality services in our coming future
One More Thank you"
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Poonam Parashar  


</span><span class="testimonial-author-position">, InterGlobe Technologies</span></div>
</div>

<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>We appreciate the quality of your work and thank you for delivering the magazines&nbsp; on 31st March night.
We are pleased to inform you that we would like to enter initially into a 3 months contract with you&nbsp;w.e.f........
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Nishee Stephen 


</span><span class="testimonial-author-position">, Dy. General Manager-Business Devel</span></div>

</div>


<div class="testimonial-content"><img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Mug printing works was awsome and it's beyond my expectations.... keep it on .Such a good work.DIL KUSH KAR DITA............ 

<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">NIKHIL NARANG


</span><span class="testimonial-author-position">, Founder & CEO, SICURO NETTO TECH</span></div>
</p>
</div>
<div class="testimonial-content">
<img style="float:left;" src="http://uploads.printland.in/hp-images/testimonial-icon.png" />
<p class="testimonial_para"><div class="testimonial-icon"></div>Happy seeing the quality.
Thanks :)
Love :) for the Team Printland. 
</p>
<div class="testimonial-author gdl-divider"><span class="testimonial-author-name">Prithvi Rathod</span></div></div>

</body>
</html>