<div class="block block-brand">
    <div class="block-title">
	<strong><span><?php echo $this->__('Brands') ?></strong></span>
    </div>
    <div class="block-content">
    <div id="brand-sidebar" class="itemslider">
	<?php $i=0;foreach ($this->getAllManu() as $manufacturer): ?>
	    <div class="item">
		<a href="<?php echo Mage::getBaseUrl() ?>catalogsearch/advanced/result/?manufacturer[]=<?php echo $manufacturer['value'] ?>">
		    <?php $brandname = $manufacturer['label'] ?>
		    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "brandlogo/" .$brandname . ".png"; ?>" alt="<?php echo $brandname; ?>" /> 
		    <?php // echo $manufacturer['label'] ?>
		</a>
	    </div>
	<?php endforeach; ?>
    </div>
    </div>
    <script type="text/javascript">
	//<![CDATA[
	jQuery(function(j$) {
	    j$("#brand-sidebar").owlCarousel({
		itemsCustom : [
		    [0, 1]
		]<?php echo Mage::helper("ExtraConfig")->sliderSetting(); ?>
	    });
	});
	//]]>
    </script>
</div>