<?php $baseUrl = Mage::getBaseUrl('web'); 

$_user = Mage::getSingleton('admin/session');
$user['email'] = $_user->getUser()->getEmail();
$user['firstname'] = $_user->getUser()->getFirstname();
$user['lastname'] = $_user->getUser()->getLastname();

$date =date("D M d, Y G:i", time());


?>
<div style="text-align:center" id="contener">

     <iframe id="designer-iframe" scrolling="no" style="position: relative; border: 0px none; width: 100%; height: 500px; padding:10 auto;top:0px;" src="<?php echo $baseUrl ?>performance/index.php?viewer=<?php echo $user['firstname']." ".$user['lastname']?>&time=<?php echo $date ?>"></iframe> 

</div>
