<style type="text/css">
.orderStatusTable {
	border:1px solid #CCCCCC;
	font-size:11px;
}
.orderStatusTable td {
padding:8px;
}
.currentStatus {
	font-size: 11px;
	background-color: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	line-height: 15px;
	border: 1px solid #ccc;
	color: #333;
}
.currentStatus span {
	font-size: 14px;
	line-height: 23px;
	color: #000;
}
</style>
<div class="page-head">
	<h3>Check My Order Status</h3>
</div>

<p>Please enter your order number and email address to see the status of your order.</p>

<form name="" action="/order-tracking/" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="orderStatusTable">
	<tr>
		<td><strong>Order Tracking Number:</strong></td>
		<td><input type="text" name="order_id" id="order_id" value="<?php echo (isset($_REQUEST['order_id'])) ? $_REQUEST['order_id'] : ''; ?>" /></td>
	</tr>
	<tr>
		<td><strong>Email Address:</strong></td>
		<td><input name="email_address" type="text" id="email_address" value="<?php echo (isset($_REQUEST['email_address'])) ? $_REQUEST['email_address'] : ''; ?>" size="30" /></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="submit" value="Submit" /></td>
	</tr>
</table>

</form>

<div class="divider"></div>

<?php
	
	$live = true; //determines verbosity of errors
	
	$error = '';
	$statusMessage = '';
	$trackingNumberMessage = '';
	$shippingMessage = '';
	
	$orderID = '';
	$emailAddress = '';
	
	if(isset($_POST['order_id'])) 
	{
		
		$orderID = trim($_POST['order_id']);
		$emailAddress = trim($_POST['email_address']);
		
			$proxy = 'http://cust.dtdc.co.in/DPTrack/XMLCnTrk.asp?strcnno='.$orderID.'&TrkType=cnno&addtnlDtl=N&strCustType=DP&strCustDtl=NL715';
			
				
				

$xmlDoc=simplexml_load_file($proxy);

foreach($xmlDoc->children() as $cars)
	{
	    foreach($cars->children() as $car => $data){
      echo $data->FIELD['strOriginRemarks'];
     echo "<br />";
	    }
}




		

		
	

?>

<?php } ?>					