





<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:7px;top:50px;">
<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
<a class="addthis_button_tweet" tw:count="vertical"></a>
<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
<a class="addthis_counter"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-507aa0282c25cf16"></script>
<!-- AddThis Button END -->





<link href="stylesheet/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/slide-js.js"></script>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("span.btn_hldr").click(function () {
     jQuery("span.btn_hldr").toggleClass("remove_bg");
	 jQuery("div.blue_cnt").toggleClass("full_view");
	 jQuery("div.btn").toggleClass("disapper");
    });
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Design wrapper Start -->


<!-- Navigation Start -->
<!--<div class="nav_wrap">
<div class="nav">
<?php //echo $this->getChildHtml('topMenu') ?>
</div>
</div>-->
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('navigation')->toHtml() ?>

<div class="wrap">
	<!-- Header Start -->
    <div class="header">
	
	
	<?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
	    	<div class="hright">
        	  <p class="welcome-msg" style="color:#333;"><?php echo $this->getWelcome() ?> <?php echo $this->getAdditionalHtml() ?></p>
            	<?php echo $this->getChildHtml('topLinks') ?>
           

			<ul class="contact">
            	<li>
                	
        				<?php //echo $this->getChildHtml('topSearch') ?>
					
				</li>
            	<li class="call">+91-11-41682626
				<br /><span style="font-size: 10px;">Mon-Sat,9AM-6PM</span>
				</li>
                <!--<li class="shipping"><big>F</big>ree <big>S</big>hipping<br /><span>in India</span></li>-->
            </ul>
        </div>
    </div>
	<!-- Header End -->

<div class="clear"></div>
</div>







