<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Phoenix
 * @package    Phoenix_CashOnDelivery
 * @copyright  Copyright (c) 2008-2009 Andrej Sinicyn, Mik3e
 * @copyright  Copyright (c) 2010 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<?php echo $this->getMethod()->getTitle() ?><br /><br/>
<?php if ($this->getMethod()->getCustomText()): ?>
    <?php echo $this->getMethod()->getCustomText() ?><br />
<?php endif; ?>
<?php
        $_extra_fee_excl = $this->getCodFeeExclTax();
        $_extra_fee_incl = $this->getCodFeeInclTax();
        if (!is_null($_extra_fee_excl)):
            if ($this->helper('cashondelivery')->displayCodFeeIncludingTax()){
                $_codFeeStr = $_extra_fee_incl;
            }else{
                $_codFeeStr = $_extra_fee_excl;
                if ($this->helper('cashondelivery')->displayCodBothPrices() && ($_extra_fee_incl != $_extra_fee_excl)) {
                    $_codFeeStr .= ' ('.$this->__('Incl. Tax').' '.$_extra_fee_incl.')';
                }
            }
        ?>
        <?php if((float)$this->getRawCodFee() || Mage::getStoreConfig('payment/cashondelivery/display_zero_fee')): ?>
        <div>
        <?php echo $this->__('Cash Before Delivery fee %s', $_codFeeStr) ?>
        </div>
        <?php endif; ?>
<?php endif; ?>