<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('pop')->toHtml() ?>
<link href="stylesheet/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/slide-js.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("span.btn_hldr").click(function () {
     jQuery("span.btn_hldr").toggleClass("remove_bg");
	 jQuery("div.blue_cnt").toggleClass("full_view");
	 jQuery("div.btn").toggleClass("disapper");
    });
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Design wrapper Start -->
<!-- Navigation Start -->
<!--<div class="nav_wrap">
<div class="nav">
<?php //echo $this->getChildHtml('topMenu') ?>
</div>
</div>-->

	
	
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('navigation')->toHtml() ?>
<div class="jb-top-help"> 
  
    <ul class="jb-lft-side">
<li><span class="img1"></span>Customer Support - <strong>+91-9212319090</strong> <span class="header-time">(Mon-Sat,10:00AM-6:30PM)</span></li>
<li><strong><a href="http://www.printland.in/red-herring"><img src="http://uploads.printland.in/hp-images/red-herring-grey.jpg"></a></strong></li>

</ul>
   
                
      <ul class="jb-rgt-side">
<li style="background:url(http://uploads.printland.in/hp-images/new-page-rgt-1.png) no-repeat left">Fast &amp; Quick Delivery</li>
<li style="background:url(http://uploads.printland.in/hp-images/new-page-rgt-2.png) no-repeat left">Best in Class Services</li>
<li style="background:url(http://uploads.printland.in/hp-images/new-page-rgt-3.png) no-repeat left">Delivery across 500 Cities</li>
<li style="background:url(http://uploads.printland.in/hp-images/new-page-rgt-4.png) no-repeat left">Lowest Price Guranteed</li>


</ul>      
    
</div>

<div class="wrap">
	<!-- Header Start -->
    <div class="header">
	
	
	<?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
        
	    	<div class="hright">
	    		 <p class="welcome-msg" style="color:#333;"><?php echo $this->getWelcome() ?> <?php echo $this->getAdditionalHtml() ?></p>
            	<?php echo $this->getChildHtml('topLinks') ?>	
	    		<table>
	    			<tr>
	    				<td>
	   
        </td>
	    				<td>
	    					<div id="main">
				<!--<ul class="contact">
				
              
            	<li>
                	
        				<a href="http://www.printland.in/red-herring"><img src="http://uploads.printland.in/hp-images/red-herring-logo.png" /></a>
					
				</li>
            	<li class="call">+91-9212319090
				<br /><span style="font-size: 10px;">Mon-Sat,10:00AM-6:30PM</span>
				</li>
				
                
      </ul>-->
	    		</div>			
	    				</td>
	    			</tr>
	    			
	    		</table>           </div>
           
            
            
        </div>
    </div>
	<!-- Header End -->

<div class="clear"></div>
</div>