

<?php
  if($_POST)
{

$hostname_MySQLCon="172.16.213.177";
$database_MySQLCon = "campaign_campaign";
$username_MySQLCon = "campaign";
$password_MySQLCon = "campPrint123$";
$MySQLCon = mysql_connect($hostname_MySQLCon, $username_MySQLCon, $password_MySQLCon);
$MySQLDb = mysql_select_db($database_MySQLCon, $MySQLCon);


$name=addslashes($_POST['name']);
$email=addslashes($_POST['email']);
$telephone=addslashes($_POST['telephone']);
$cname=addslashes($_POST['cname']);
$message=addslashes($_POST['message']);
$sdate=date('Y-m-d');
$status="N";
	$msg="Name: ".$name."\n\nComapany Name:".$cname."\n\nEmail: ".$email."\n\nTelephone:".$telephone."\n\nMessage:".$message;
		
		$To="rajindersinghattar@gmail.com";	
		$To1="kakar.sanjeev@gmail.com";	
		$To2="business.printland@gmail.com";
				
	$subject="Business Enquiry recieved from printland.in";
	$edate=date('Y-m-d');	
	
	/*
	$query = "INSERT INTO `inquiry` (`name`,`mobileno`,`email`,`detail`,`company_name`,`edate`,`type`) VALUES ('$name','$telephone','$email','$message','$cname','$edate','FNF - Page Business')";
			$result= mysql_query($query);
			if(!$result){
					echo mysql_error();
			}
	*/
    $param[name]= $name; 
    $param[cemail]= $email; 
	$param[cphone] = $telephone; 
	$param[cenquiry] = $message;
	$param[type] = "BUSINESS-PAGE-WEBSITE"; 
	$param[product] = ""; 
	$param[assigned_to] = ""; 
	
	foreach($param as $key=>$val) 
	{ 
		$request.= $key."=".urlencode($val); 
		
		$request.= "&"; 
		
	} 
	$request = substr($request, 0, strlen($request)-1); 
	$url = "http://campaign.printland.in/enquirypost.php?".$request; 
	$curl = curl_init();
	curl_setopt($curl, CURLOPT_URL, $url);
		
	curl_setopt($curl, CURLOPT_CUSTOMREQUEST, "POST");
	curl_setopt($curl, CURLOPT_POSTFIELDS, $data_string);
	curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
	
	$data = curl_exec($curl);
	curl_close($curl);
	echo $data;
		
			//mail($To,$subject,$msg,"From:".$email);		
			//mail($To1,$subject,$msg,"From:".$email);	
			mail($To2,$subject,$msg,"From:".$email);
			
		
		$smsg="Thank you for contacting us and for submitting your inquiry. Printland Team will contact you shortly.";	


}
?>

<link rel="stylesheet" type="text/css" href="skin/frontend/neighborhood/default/css/up-down.css" media="all">
<style type="text/css">
.main{padding:0px;}
.breadcrumbs{display:none;}
.form-list li {
  margin: 0 0 8px;
}

</style>
<div class="container_12">
              
		
        <div class="grid_9" style="box-shadow: 0 8px 6px -7px #999;">	
         <div class="bannercontainer responsive">             
	<div class="banner">
		
		<ul>
			
				   			
			<li data-transition="slidehorizontal" data-delay="4000" target="_blank" style="cursor:pointer" onclick='show_link("http://www.printland.in/corporate/pen-drive.html")' >
				   <img src="http://uploads.printland.in/Business/images/bus-home-banner-01.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="Corporate Pen Drives" />
				
			</li>
			
			 			
			<li data-transition="slidehorizontal" data-delay="4000" target="_blank" style="cursor:pointer" onclick='show_link("http://www.printland.in/corporate/pens.html")' >
				    <img src="http://uploads.printland.in/Business/images/bus-home-banner-02.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="Promotional Pens" />
			
			</li>
			
			 			
			<li data-transition="slidehorizontal" data-delay="4000" target="_blank" style="cursor:pointer"> <img src="http://uploads.printland.in/Business/images/bus-home-banner-03.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt=""/>
			</li>
			
			 			
			<li data-transition="slidehorizontal" data-delay="4000"  target="_blank" style="cursor:pointer" onclick='show_link("http://www.printland.in/reseller-program")'>
				    <img src="http://uploads.printland.in/Business/images/bus-home-banner-04.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="Become Reseller"/>
				
			</li>
			
			 					
		</ul>		    
				   
	</div>
    </div>
    
	</div> 
    <div class="grid_3">
   
    
    
    
    
<!--<div class="section-line">Instant Quotation</div>-->
<div class="content" style="border: 1px solid #0a3151;
  padding: 3px 5px; height: auto;">
	<font color="red"><?php echo $smsg; ?></font>
   <form method="post" action="" name="frm" id="frm" onSubmit="return validateForm();" content="NOINDEX,NOFOLLOW" enctype="multipart/form-data">
<fieldset id="contact">
			<ul class="form-list">
				
				<li>
					
					<input class="input-text required-entry" type="text" placeholder="Name"  maxlength="50" name="name" id="name"> 
					<div id="name_div"></div>
				</li>
                
                
                <li>
					<input class="input-text required-entry" type="text" placeholder="Company Name" maxlength="50" name="cname" id="cname" class="text"> 
					<div id="cname_div"></div>
				</li>
                
                
				<li>
					
					<input class="input-text required-entry" type="text" placeholder=" E-mail ID" maxlength="100" name="email" id="email" class="text"> 
					<div id="email_div"></div>
				</li>
				<li>
					<input class="input-text required-entry" type="text" placeholder=" Contact No." maxlength="20" id="telephone" class="tel text" name="telephone">
                    		<div id="telephone_div"></div>
				</li>				
				
				<li>					
					<textarea class="input-text required-entry" name="message" placeholder="I am looking for...." id="message" rows="7" class="textarea" style="height:50px;"></textarea> <div id="message_div"></div>
				</li>
				
<li>					
					<input class="InputTxt" type="checkbox" name="vspam" value="vspam" id="vspam">
					<div id="vspam_div">Confirm you are NOT a spammer</div>
				</li>

				
			</ul>
			<ul class="last" style="margin-top: 25px; ">
				<li style="text-align:right;">
					<input type="submit" value="Send Inquiry" name="submit" class="submit" style="padding: 10px;  background-color: #7fbf4d !important;  border: none;">
					
				</li>
			</ul>
					
		</fieldset>
		</form>
</div>
    </div>
    <script type="text/javascript">	
		j$('.banner').revolution({
			parallax:"off",
			autoHeight:"on",
			fullWidth:"on",
			forceFullWidth:"off"
			,startheight: 527,startwidth: 1200,hideTimerBar: 'on',navigationType: 'bullet',navigationArrows: 'solo',hideThumbsOnMobile: 'off',hideBulletsOnMobile: 'off',hideArrowsOnMobile: 'off',navigationHAlign: 'center',navigationVAlign: 'bottom',soloArrowLeftHalign: 'left',soloArrowLeftValign: 'center',soloArrowLeftHOffset: 1,soloArrowRightHalign: 'right',soloArrowRightValign: 'center',soloArrowRightHOffset: 1,keyboardNavigation: 'off',touchenabled: 'on',onHoverStop: 'on',shadow: 0,dottedOverlay: 'none',swipe_velocity: 0,swipe_max_touches: 1,swipe_min_touches: 1,drag_block_vertical: false		});
	</script>
    
    
    
    
    
    <div class="main-container col1-layout"> 
            
            <div class="main container_12" style="padding:0px;">
                            
                <div class="col-main grid_full">
                   
                   
                   
       <!--Best Seller Starts Here-->                  
    <div class="std">                                                        
         
     <div class="clearer martop30">    <div class="section-line">
	<h2>BESTSELLERS</h2>
    </div>
	<div id="bestsellers" class="products-grid itemslider">		
	    
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/pen-drive.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerpendrive01012015',1,true])" title="Corporate Pen Drives" class="product-image"><img src="http://uploads.printland.in/Business/images/best-business-product_01.jpg"alt="Corporate Pen Drives">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/pens.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerpens01012015',1,true])" title="Corporate Pens" class="product-image"><img src="http://uploads.printland.in/Business/images/best-business-product_02.jpg" alt="Corporate Pens">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/mugs.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellermugs01012015',1,true])" title="Corporate Mugs" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_03.jpg" alt="Corporate Mugs">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/clocks.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerclocks01012015',1,true])" title="Corporate Clocks" class="product-image"><img src="http://uploads.printland.in/Business/images/best-business-product_04.jpg" alt="Corporate Clocks"></a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/t-shirts.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellertshirts01012015',1,true])" title="Corporate T-Shirts" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_05.jpg" alt="Corporate T-Shirts"></a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/notebooks.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellernotebooks01012015',1,true])" title="Corporate Notebooks" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_06.jpg" alt="Corporate Notebooks">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/self-inking+rubber-stamps.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerrubberstemps01012015',1,true])" title="Self Inking Rubber Stamps" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_07.jpg" alt="Self Inking Rubber Stamps">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/key-chains.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerkeychains01012015',1,true])" title="Corporate Key Chains" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_08.jpg" alt="Corporate Key Chains">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/laptop-bag.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellerlaptopsbags01012015',1,true])" title="Corporate Laptop Bags" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_09.jpg" alt="Corporate Laptop Bags">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a rel="nofollow" href="http://www.printland.in/corporate/caps.html" onClick="_gaq.push(['_trackEvent', 'Bus_BestSelling', 'Click', 'hp_bestsellercaps01012015',1,true])" title="Corporate Caps" class="product-image">
		<img src="http://uploads.printland.in/Business/images/best-business-product_10.jpg" alt="Corporate Caps">
		</a></div>
        </div>
        
        
        
        
        <!--<div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/designertool?productId=6350" title="Blissful Ganesha T-Shirt" class="product-image oos-product">
		<img src="/images/hp-images/best-seller-home-01.jpg" alt="Blissful Ganesha T-Shirt">
		</a></div>
        <span class="jb-oos-txt"> Out of Stock </span>	    
        </div>-->
		
	    
		
	    
		
	    
		
	  
        
		
	    
		</div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>	    

<script type="text/javascript">
//<![CDATA[
jQuery(function(j$) {
j$("#bestsellers").owlCarousel({
    itemsCustom : [
		    [0, 1],
	    [380, 2],
	    [751, 4],
	    [1265, 4],
	    [1360, 4],
	    [1440, 4],
	    [1680, 4]
	    ],slideSpeed: 1000,rewindSpeed: 1000,autoPlay: false,stopOnHover: true,rewindNav: true,scrollPerPage: true,lazyLoad: false,navigation: true,pagination: false,navigationText: ['', '']});
});
//]]>
</script>

</div>    
         
  <!--Best Seller Ends Here-->                         
      
   <!--New Arrivals Starts Here-->            
      
       <div class="clearer martop30">
    			<div class="section-line">
		    <h2>BUSINESS PRINTING</h2>
		</div>
		
	<div id="new-arrival" class="products-grid itemslider">
		 
      <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/plastic+business-cards.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_buscard01012015',1,true])" rel="nofollow" title="Corporate Plastic Business Cards" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_01.jpg" alt="Corporate Plastic Business Cards">
		</a></div>
        </div>      
         
      <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/envelopes.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_busenvelpoe01012015',1,true])" rel="nofollow" title="Corporate Envelopes" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_02.jpg" alt="Corporate Envelopes">
		</a></div>
        </div>
        
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/letterheads.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_letterhead01012015',1,true])" rel="nofollow" title="Corporate Letterheads" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_03.jpg" alt="Corporate Letterheads">
		</a></div>
        </div>
        
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/notepads.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_notepad01012015',1,true])" rel="nofollow" title="Corporate Notepads" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_04.jpg" alt="Corporate Notepads">
		</a></div>
        </div>      
	   
       
       <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/calendars.html" onClick="_gaq.push(['_trackEvent', 'HP_BusPrinting', 'Click', 'hp_calendar01012015',1,true])" rel="nofollow" title="Corporate Calendars" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_05.jpg" alt="Corporate Calendars">
		</a></div>
        </div>      
         
      <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/business-cards+350.html" onClick="_gaq.push(['_trackEvent', 'HP_BusPrinting', 'Click', 'hp_bus-card01012015',1,true])" rel="nofollow" title="Corporate Premium Business Cards" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_06.jpg" alt="Corporate Premium Business Cards">
		</a></div>
        </div>
        
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/banner-stands.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_banner-stands01012015',1,true])" rel="nofollow" title="Corporate Banner Stands" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_07.jpg" alt="Corporate Banner Stands">
		</a></div>
        </div>
        
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/flyers.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_flyers01012015',1,true])" rel="nofollow" title="Corporate Flyers" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_08.jpg" alt="Corporate Flyers">
		</a></div>
        </div>      
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/certificates.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_certificats01012015',1,true])" rel="nofollow" title="Corporate Certificates" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_09.jpg" alt="Corporate Certificates">
		</a></div>
        </div>
        
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/bookmarks.html" onClick="_gaq.push(['_trackEvent','HP_BusPrinting', 'Click', 'hp_bookmarks01012015',1,true])" rel="nofollow" title="Corporate Bookmarks" class="product-image">
		<img src="http://uploads.printland.in/Business/images/bus-printing-home_10.jpg" alt="Corporate Bookmarks">
		</a></div>
        </div>      
		</div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    
   
	<script type="text/javascript">
	//<![CDATA[
	jQuery(function(j$) {
	    j$("#new-arrival").owlCarousel({
		itemsCustom : [
		    			[0, 1],
			[380, 2],
			[751, 4],
			[1265, 4],
			[1360, 4],
			[1440, 4],
			[1680, 4]
		    		
		],slideSpeed: 1000,rewindSpeed: 1000,autoPlay: false,stopOnHover: true,rewindNav: true,scrollPerPage: true,lazyLoad: false,navigation: true,pagination: false,navigationText: ['', '']	    });
	});
	//]]>
	</script>
   
  </div>
 <!--New Arrivals Ends Here-->      








<div class="clearer martop30">
    			<div class="section-line">
		    <h2>CORPORATE GIFTS</h2>
		</div>
		
	<div id="business-product" class="products-grid itemslider">
		 
       <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/business-card-holders.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_cardholder01012015',1,true])" rel="nofollow" title="Business Card Holders" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_01.jpg" alt="Business Card Holders">
		</a></div>
        </div>  
         
       <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/silver-coins.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_silvercoin01012015',1,true])" rel="nofollow" title="Corporate Silver Coins" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_02.jpg" alt="Corporate Silver Coins">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/power-bank.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_powerbank01012015',1,true])" rel="nofollow" title="Corporate Power Banks" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_03.jpg" alt="Corporate Power Banks">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/festive-specials.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_fespecial01012015',1,true])" rel="nofollow" title="Corporate Desk Stands" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_04.jpg" alt="Corporate Desk Stands">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/photo-magnets.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_photomagnets01012015',1,true])" rel="nofollow" title="Corporate Photo Magnets" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_05.jpg" alt="Corporate Photo Magnets">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/paperweights.html" onClick="_gaq.push(['_trackEvent','HP_CoGifts', 'Click', 'hp_paperweight01012015',1,true])" rel="nofollow" title="Corporate Paperweights" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_06.jpg" alt="Corporate Paperweights">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/sling-bags.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_slingbag01012015',1,true])" rel="nofollow" title="Corporate Sling Bags" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_07.jpg" alt="Corporate Sling Bags">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/mouse-pads.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_mousepad01012015',1,true])" rel="nofollow"  title="Corporate Mouse Pads" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_08.jpg" alt="Corporate Mouse Pads">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/coasters.html" onClick="_gaq.push(['_trackEvent','HP_CoGifts', 'Click', 'hp_bookmarks01012015',1,true])" rel="nofollow" title="Corporate Coasters" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_09.jpg" alt="Corporate Coasters">
		</a></div>
        </div>
        
        <div class="item">
		<div class="product-image-wrapper">
		<a href="http://www.printland.in/corporate/tote-bags.html" onClick="_gaq.push(['_trackEvent', 'HP_CoGifts', 'Click', 'hp_totebag01012015',1,true])" rel="nofollow" title="Corporate Tote Bags" class="product-image">
		<img src="http://uploads.printland.in/Business/images/corporate-gifts-home_10.jpg" alt="Corporate Tote Bags">
		</a></div>
        </div>     
	     
		
	    
		
	    
		
	    
		
	  
        						    
	   
		    
	    		    
	   
		</div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    
   
	<script type="text/javascript">
	//<![CDATA[
	jQuery(function(j$) {
	    j$("#business-product").owlCarousel({
		itemsCustom : [
		    			[0, 1],
			[380, 2],
			[751, 4],
			[1265, 4],
			[1360, 4],
			[1440, 4],
			[1680, 4]
		    		
		],slideSpeed: 1000,rewindSpeed: 1000,autoPlay: false,stopOnHover: true,rewindNav: true,scrollPerPage: true,lazyLoad: false,navigation: true,pagination: false,navigationText: ['', '']	    });
	});
	//]]>
	</script>
   
  </div>
  
  <div class="clearer martop30"> 
  
  
    
  
  
<div class="std">

         <div class="blue_cnt">
 <h2>Online Printing With "web-2-print" Technology</h2>
<p>This is a corporate world, new businesses and new products are launched every day in the market. Every person requires some kinds of <strong>Business product Printing</strong> or <strong>Marketing Items</strong> for using in his business. Many stores offer Business product Printing solution in the market.</p>
<h2>Business Products Printing Online</h2>
<p>We are the leading stores in the online market in India who provide all types of promotional items for the promotion of business or new products in the market. We provide you the best deals of <strong>Marketing Items</strong> in the online market. We know that new promotional strategies have to be adopted if you have to make a place in the market. Pamphlets, banners, flyers, envelopes, stickers, danglers, letter heads etc are all the part of a good business strategy. Pamphlets, banners, stickers etc are used for the promotion of business while letterheads, envelops etc form an important part of office stationery. We deal in printing of all these products. We provide you with the best quality of printing that you can find in the online market. We do not compromise with the quality of all our products.</p>
<h2>Corporate Printing India</h2>
<p>We know that a personalized product is very much liked by the customers. Customers get attracted to that business which gives them a personal attention. So we also present you an option of making your own personalized <strong>Business product printing items</strong>. We present you a large number of templates of many <strong>Marketing Items</strong> at our online store. You have to just select any one of them according to your need and proceed to give it a personalized look. You can upload a photo of your product or your company or even company&rsquo;s logo to be printed on the selected <strong>Business product Printing item</strong>.Moreover, you can also write some text on your selected <strong>Marketing Item</strong>. You can print company&rsquo;s logo and address and contact number on the letterheads and envelopes. Also you can choose to have a picture of your newly launched product on the flyers or danglers.</p>
<h2>Printing Products For Business Promotions</h2>
<p>We know that projects are very important for a business to grow. So we also present you a solution to print project reports in our <strong>Business product Printing</strong>. We also move towards printing business cards, manuals, corporate documents and many more items in our <strong>Business product Printing</strong>. We are known to use the best quality of paper for printing of our <strong>Marketing Items</strong>. Just visit our store once and give a look at our products and shop for them.</p>
<h2>Buy Online Business Products</h2>
<p>Shop for Business product Printing with us online and you will feel that we are the best place to buy personalized Business product printing online in India. We are there for your service on all the days of the week, 24/7. We are working online so it is an advantage, as you can place your order at any time of the day. Our entire collection of Business product printing is available at very nominal price. We not only present Business product printing, but also make sure that they reach at your place at the right time. Generally your selected personalized Business product Printings will be delivered at your employee&rsquo;s doorstep within 3-7 days of the order. Moreover you can also choose the date of the delivery of your customized business card holders. With our exchange policy, if you do not like what you get you can return your Business product printing item with us and we will provide you with the full refund. So come and shop for the Business product Printing items with us online and promote your business to new heights in the market.</p>
</div>
   
    <span class="btn_hldr remove_bg">
<div class="flip">See More</div>
</span>
   </div>
    
  <script type="text/javascript">// <![CDATA[
jQuery(document).ready(function(){
jQuery(".view-con").css("display","none");
jQuery(".addthis_toolbox").css("display","none");



var count = 1;
  jQuery(".flip").click(function(){
  
  if(count == 1)
    {
    jQuery(".view-con").slideDown("slow");
jQuery(".btn_hldr").addClass('remove_bg');	
jQuery(".flip").html("See Less");
	count = 0;
	}

else if(count == 0)
    {
   
	jQuery(".view-con").slideUp("slow");
jQuery(".btn_hldr").removeClass('remove_bg');
	jQuery(".flip").html("See More");
	count = 1;
	}		
  });



});
// ]]></script>
<script type="text/javascript">// <![CDATA[
jQuery(document).ready(function() {
jQuery("span.btn_hldr").click(function () {
jQuery("span.btn_hldr").toggleClass("remove_bg");
jQuery("div.blue_cnt").toggleClass("full_view");
jQuery("div.btn").toggleClass("disapper");
});
});
// ]]></script> 
    
    
   
          </div>
  
  
  
  
  
  <div class="clearer martop30">

 <div class="spb_impact_text alt-bg">
    <div id="brand" class="itemslider">
	 
	    <div class="item">
	
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-01.png" alt="3DOcean" />
		    		    		
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-06.png" alt="ActiveDen" />
		    		    		
	    </div>
	 
	    <div class="item">
	
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-02.png" alt="AudioJungle" />
		    		    		
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-04.png" alt="CodeCanyon" />
		    		    		
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-05.png" alt="GraphicRiver" />
		    		    	
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-03.png" alt="PhotoDune" />
		    		    	
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-07.png" alt="ThemeForest" />
		    		    	
	    </div>
	 
	    <div class="item">
		
		    		    			<img src="http://uploads.printland.in/fnf/images/brandlogo/printland-client-08.png" alt="VideoHive" />
		    		    		
	    </div>
	    </div>
    <script type="text/javascript">
	//<![CDATA[
	jQuery(function(j$) {
	    j$("#brand").owlCarousel({
		itemsCustom : [	    
		    			[0, 1],
			[380, 2],
			[751, 3],
			[1265, 5],
			[1360, 5],
			[1440, 5],
			[1680, 5]
		    	    		    
		],slideSpeed: 1000,rewindSpeed: 1000,autoPlay: false,stopOnHover: true,rewindNav: true,scrollPerPage: true,lazyLoad: false,navigation: true,pagination: false,navigationText: ['', '']	    });
	});
	//]]>
    </script>
</div></div>

<script type="text/javascript">
function validateForm() 
{
	var error = 0;
	var name_value=document.getElementById('name').value; 
	document.getElementById('name').value=name_value;
	var name_div=document.getElementById('name_div'); 
	if(name_value=='') {
		name_div.innerHTML="<font color=red>Please enter your name</font>"; 
		error=1
	} else {
		name_div.innerHTML="";
	}
	
	var cname_value=document.getElementById('cname').value; 
	document.getElementById('cname').value=cname_value;
	var cname_div=document.getElementById('cname_div'); 
	if(cname_value=='') {
		cname_div.innerHTML="<font color=red>Please enter your company name</font>"; 
		error=1
	} else {
		cname_div.innerHTML="";
	}
	
	var email_value=document.getElementById('email').value; 
	document.getElementById('email').value=email_value;
	var email_div=document.getElementById('email_div'); 
	if(email_value=='') {
		email_div.innerHTML="<font color=red>Please enter your email address</font>"; 
		error=1
	} else {
if(!email_value.match(/^[A-Za-z0-9\._\-+]+@[A-Za-z0-9_\-+]+(\.[A-Za-z0-9_\-+]+)+$/))
	{
		email_div.innerHTML="<font color=red>Please enter the valid email address</font>"; 
		error=1
	} else {
		email_div.innerHTML="";
	}
}
	var telephone_value=document.getElementById('telephone').value; 
	document.getElementById('telephone').value=telephone_value;
	var telephone_div=document.getElementById('telephone_div'); 
	if(telephone_value=='') {
		telephone_div.innerHTML="<font color=red>Please enter your contact number</font>"; 
		error=1
	} else {
		telephone_div.innerHTML="";
	}
	
	var message_value=document.getElementById('message').value; 
	document.getElementById('message').value=message_value;
	var message_div=document.getElementById('message_div'); 
	if(message_value=='') {
		message_div.innerHTML="<font color=red>Please enter your requirement</font>"; 
		error=1
	} else {
		message_div.innerHTML="";
	}
	
	var vspam_value=document.getElementById('vspam').value; 
	document.getElementById('vspam').value=vspam_value;
	var vspam_div=document.getElementById('vspam_div');
	//
	if(!document.frm.vspam.checked)
	{	
		alert("Confirmation checkbox is not ticked!"); 
		//vspam_div.innerHTML="<font color=red>Confirm you are NOT a spammer</font>"; 
		error=1
	} else {
	//vspam_div.innerHTML="";
	}
	
	
	
	if (error == 1) return false;
	return true;
}	
</script>


 
<script type="text/javascript">
	var settings = {
		zoomActivation: 'hover',responsive: false,zoomEnabled: true,scrollZoom: false,easing: true,lensFadeIn: 500,lensFadeOut: 500,zoomWindowFadeIn: 500,zoomWindowFadeOut: 500,zoomTintFadeIn: 500,zoomTintFadeOut: 500,lensShape: 'square',zoomType: 'window',lensOpacity: 0.4,tint: true,tintColour: '#07c1b6',tintOpacity: 0.5,cursor: 'default'   
	}
	
	 function show_link(url)
	 {
		jQuery(window.location).attr('href',url);
	 } 
</script>
</div>                </div>
            </div>
        </div>
 