
<?php
$hostname_MySQLCon="172.16.213.177";
$database_MySQLCon = "campaign_campaign";
$username_MySQLCon = "campaign";
$password_MySQLCon = "campPrint123$";
$MySQLCon = mysql_connect($hostname_MySQLCon, $username_MySQLCon, $password_MySQLCon);
$MySQLDb = mysql_select_db($database_MySQLCon, $MySQLCon);


if($_POST)
{
$name=addslashes($_POST['name']);
$email=addslashes($_POST['email']);
$telephone=addslashes($_POST['telephone']);
$cname=addslashes($_POST['cname']);
$city=addslashes($_POST['city']);
$state=addslashes($_POST['state']);
$product=addslashes($_POST['product']);
$message=addslashes($_POST['message']);
$qty=addslashes($_POST['qty']);
$sdate=date('Y-m-d');
$status="N";



						  if ($_FILES["datafile"]["error"] > 0)
							{
							
							}
						  else
							{
							 $file_type=$_FILES['datafile']['type'];
							$file_name=$_FILES['datafile']['name'];
							//if(($file_type=='image/jpeg')||($file_type=='image/x-png')) {
					  		$mcFileSize = $_FILES['datafile']['size'];
					 		$mcBytesInKb = 1024*1024;
        					$mcFileSizeKb = round($mcFileSize / $mcBytesInKb, 2);
							$flg=0;
							if ($mcFileSizeKb>10)
							{
								$flg=1;
							}
							$allowed =  array('gif','png','jpg','doc','docx','pdf','jpeg');
							$ext = pathinfo($file_name, PATHINFO_EXTENSION);
								if(!in_array($ext,$allowed) ) 
								{
									$flg=1;
								}
								if ($flg==0)
								{
									if (file_exists("enquiry_attach/" . $_FILES["datafile"]["name"]))
									  {
									  $msg=$_FILES["datafile"]["name"]." already exists. ";
									  }
									else
									  {
									  move_uploaded_file($_FILES["datafile"]["tmp_name"],"enquiry_attach/".$_FILES["datafile"]["name"]);
									 
									  }
								}
							}
  					$filepath="http://printland.in/enquiry_attach/".$_FILES["datafile"]["name"];
					
					

	$msg="Name: ".$name."\n\nComapany Name:".$cname."\n\nEmail: ".$email."\n\nTelephone:".$telephone."\n\nCity:".$city."\n\nState:".$state."\n\nProduct:".$product."\n\nQuantity:".$qty."\n\nMessage:".$message."\n\nAttachment: ".$filepath;
		
		$To="snjha77@gmail.com";	
		$To1="kakar.sanjeev@gmail.com";	
		$To2="business.printland@gmail.com";
				
	$subject="Enquiry recieved from printland.in";
	$edate=date('Y-m-d');	
	
	$query = "INSERT INTO `inquiry` (`name`,`mobileno`,`email`,`detail`,`keyword`,`edate`,`type`) VALUES ('$name','$telephone','$email','$message','$product','$edate','FNF - Bulk Enquiry')";
			$result= mysql_query($query);
			
			if(!$result){
					echo mysql_error();
			}
		mysql_close($MySQLCon);	
		
	//$query = "INSERT INTO `bulkorder` ( `name`,`contact`,`email`,`product`,`content`,`photo`,`edate`) VALUES ('$name','$telephone','$email','$product','$message','".$_FILES["datafile"]["name"]."','$edate')";
			//$result= mysql_query($query) or die ("$query- failed!");
			
			
			//mail($To,$subject,$msg,"From:".$email);		
			mail($To1,$subject,$msg,"From:".$email);	
			mail($To2,$subject,$msg,"From:".$email);
			
		if ($flg==0)
		{
		$smsg.="Thank You, your form information has been submitted. A copy of the data submitted is below.";	
		} else {
		
		$smsg.="Thank You, your form information has been submitted. A copy of the data submitted is below. But we could not upload your file due to unidentified file extension. So pls send the file through contact@printland.in for further action.";	
		}	
		

}
?>

<?php

		$productid=$_REQUEST['id'];
		$model = Mage::getModel('catalog/product');
		$_product = $model->load($productid);
		?>
        <div class="grid_12">
<div class="grid_6 no-left-margin">
<table><tbody><tr><td class="left">
<h2><?php echo $_product->getName(); ?></h2><br>
            <p><?php echo $_product->getShortDescription(); ?></p>
            <table>
                <tbody>
                    <tr>
                        <td style="width: 143px;"> </td>
                        <td><table>
                <tbody>
                    <tr>
                        <td> 
						<?php if ($_REQUEST['id']) { ?>
						<img title="Document Printing" alt="Blue Color Card" src="<?php echo $_product->getImageUrl(); ?>" style="border: 1px solid #b1b1b1; padding: 10px; box-shadow: #b1b1b1 0px 0px 2px 1px;">
						<?php } else {
						 ?>
						 <img title="Document Printing" alt="Blue Color Card" src="media/sfsdf.png" style="border: 1px solid #b1b1b1; padding: 10px; box-shadow: #b1b1b1 0px 0px 2px 1px; width:540px;">
						 <?php } ?>
						</td>
                    </tr>
                </tbody>
            </table></td>
                        <td style="width: 180px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <p style="margin: 0px; padding: 5px 0px 0px;"></p>
            </td></tr></tbody></table>

	</div>
    
	<font color="red"><?php echo $smsg; ?></font>
    
    
    <div class="grid_6 no-right-margin">
    <div class="registered-users bot-shadow">
   <form method="post" action="" name="frm" id="frm" onSubmit="return validateForm();" content="NOINDEX,NOFOLLOW" enctype="multipart/form-data">
<fieldset id="contact">
			<ul class="form-list">
            
            <li class="fields">
                    <div class="field">
                       <label for="name" class="required"><em>*</em>Name</label>
                        <div class="input-box">
                            <input type="text" id="name" name="name" value="" title="Name" class="input-text ">
                           <div id="name_div"></div>
                        </div>
                    </div>
                            <div class="field">
                        <label for="telephone" class="required"><em>*</em>Contact No.</label>
                        <div class="input-box">
                            <input type="text" name="telephone" id="telephone" value="" title="Email Address" class="input-text validate-email required-entry">
                           <div id="telephone_div"></div>
                        </div>
                    </div>
                        </li>
            
                
                                
                <li class="fields">
                    <div class="field">
                       <label for="cname" class="required"><em>*</em>Company Name</label>
                        <div class="input-box">
                            <input type="text" id="cname" name="cname" value="" title="Company" class="input-text ">
                            <div id="cname_div"></div>
                        </div>
                    </div>
                            <div class="field">
                        <label for="email" class="required"><em>*</em>Email</label>
                        <div class="input-box">
                            <input type="text" name="email" id="email" value="" title="Email Address" class="input-text validate-email required-entry">
                            <div id="email_div"></div>
                        </div>
                    </div>
                        </li>
                
                                
				
                
                
                
                <li class="fields">
                    <div class="field">
                       <label for="city" class="required"><em>*</em>City</label>
                        <div class="input-box">
                            <input type="text" id="city" name="city" title="City" class="input-text required-entry">
                            <div id="city_div"></div>
                        </div>
                    </div>
                            <div class="field">
                        <label for="state" class="required"><em>*</em>State</label>
                        <div class="input-box">
                            <input type="text" name="state"   title="State" class="input-text required-entry">
                            <div id="state_div"></div>
                        </div>
                    </div>
                        </li>
                
                
                
                 <li class="fields">
                    <div class="field">
                       <label for="Product" class="required"><em>*</em>Product</label>
                        <div class="input-box">
                            <input type="text"  name="product" title="product" value="<?php echo $_product->getName(); ?>" class="input-text required-entry">
                            <div id="city_div"></div>
                        </div>
                    </div>
                            <div class="field">
                        <label for="qty" class="required"><em>*</em>Quantity</label>
                        <div class="input-box">
                            <input type="text" name="qty"  title="Quantity" class="input-text required-entry" placeholder="Minimum Quantity :1000">
                           </div>
                    </div>
                        </li>
                
                
				
				
				<li class="input-box">
					<label for="message">Comments</label><span title="Required" class="required">*</span>
					<textarea name="message" rows="7" class="textarea" style="height:50px;"></textarea> 
				</li>
				
<li>
<label for="message">Upload Files:</label><input type="file" name="datafile" id="datafile" >
<br>
Note: file extension allowed is gif, png, jpg, doc, docx, pdf, jpeg.
</li>

<li><label for="message">Confirm you are NOT a spammer!</label>
					
<input class="text" type="checkbox" name="vspam" value="vspam" id="vspam">
					
</li>

				
			</ul>
	<ul class="buttons-set">
	<li>
	<button type="submit" value="Send Enquiury for a free quotation" name="submit" class="button" onclick="submit();"><span><span>Send Enquiury for a free quotation</span></span></button>
	<input type="hidden" value="1" name="sendEmail">
	</li>
			</ul>
            
            
            
            
					
		</fieldset>
		</form>
</div></div></div>
<div class="grid_full">
       <div id="container">
		
		<?php echo $_product->getDescription(); ?>
		
	</div>
    </div>
	<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function(){
	jQuery(".resp-tabs-list > li").click(function(e){
		switch(e.target.id){
			case "news":
				//change status & style menu
				jQuery("#news").addClass("active");
				jQuery("#tutorials").removeClass("active");
				jQuery("#links").removeClass("active");
				//display selected division, hide others
				jQuery("div.news").fadeIn();
				jQuery("div.tutorials").css("display", "none");
				jQuery("div.links").css("display", "none");
			break;
			case "tutorials":
				//change status & style menu
				jQuery("#news").removeClass("active");
				jQuery("#tutorials").addClass("active");
				jQuery("#links").removeClass("active");
				//display selected division, hide others
				jQuery("div.tutorials").fadeIn();
				jQuery("div.news").css("display", "none");
				jQuery("div.links").css("display", "none");
			break;
			case "links":
				//change status & style menu
				jQuery("#news").removeClass("active");
				jQuery("#tutorials").removeClass("active");
				jQuery("#links").addClass("active");
				//display selected division, hide others
				jQuery("div.links").fadeIn();
				jQuery("div.news").css("display", "none");
				jQuery("div.tutorials").css("display", "none");
			break;
		}
		//alert(e.target.id);
		return false;
	});
});
	</script>
	
	<script type="text/javascript">
function validateForm() 
{
	var error = 0;
	var name_value=document.getElementById('name').value; 
	document.getElementById('name').value=name_value;
	var name_div=document.getElementById('name_div'); 
	if(name_value=='') {
		name_div.innerHTML="<font color=red>Please enter your name</font>"; 
		error=1
	} else {
		name_div.innerHTML="";
	}
	
	var cname_value=document.getElementById('cname').value; 
	document.getElementById('cname').value=cname_value;
	var cname_div=document.getElementById('cname_div'); 
	if(cname_value=='') {
		cname_div.innerHTML="<font color=red>Please enter your company name</font>"; 
		error=1
	} else {
		cname_div.innerHTML="";
	}
	
	var email_value=document.getElementById('email').value; 
	document.getElementById('email').value=email_value;
	var email_div=document.getElementById('email_div'); 
	if(email_value=='') {
		email_div.innerHTML="<font color=red>Please enter your email address</font>"; 
		error=1
	} else {
if(!email_value.match(/^[A-Za-z0-9\._\-+]+@[A-Za-z0-9_\-+]+(\.[A-Za-z0-9_\-+]+)+$/))
	{
		email_div.innerHTML="<font color=red>Please enter the valid email address</font>"; 
		error=1
	} else {
		email_div.innerHTML="";
	}
}
	var telephone_value=document.getElementById('telephone').value; 
	document.getElementById('telephone').value=telephone_value;
	var telephone_div=document.getElementById('telephone_div'); 
	if(telephone_value=='') {
		telephone_div.innerHTML="<font color=red>Please enter your telephone number</font>"; 
		error=1
	} else {
		telephone_div.innerHTML="";
	}
	
	var city_value=document.getElementById('city').value; 
	document.getElementById('city').value=city_value;
	var city_div=document.getElementById('city_div'); 
	if(city_value=='') {
		city_div.innerHTML="<font color=red>Please enter your city name</font>"; 
		error=1
	} else {
		city_div.innerHTML="";
	}
	
	var vspam_value=document.getElementById('vspam').value; 
	document.getElementById('vspam').value=vspam_value;
	var vspam_div=document.getElementById('vspam_div');
	//
	if(!document.frm.vspam.checked)
	{	
		alert("Confirmation checkbox is not ticked!"); 
		//vspam_div.innerHTML="<font color=red>Confirm you are NOT a spammer</font>"; 
		error=1
	} else {
	//vspam_div.innerHTML="";
	}
	
	
	
	if (error == 1) return false;
	return true;
}	
</script>