<?php

$submit=$_POST['submit'];
if($submit=="save"){
$count=count($_POST);
$ctr=0;
$savestr="{";
    foreach ($_POST as $key => $value)
    {   
	    $ctr++;
        if($ctr==$count)
			$savestr.='"'.$key.'":"'.$value.'"';
		else
			$savestr.='"'.$key.'":"'.$value.'",';
    }
$savestr.="}";	

$date=date("Y-m-d");

if($_POST['orderId'])
$orderId=$_POST['orderId'];
else
$orderId=0;

$write = Mage::getSingleton('core/resource')->getConnection('core_write');
$query = "INSERT INTO `pl_feedback` SET  `order_Id` = '$orderId', `feedback` = '$savestr', `recieved_date` = '$date'"; 	
$res = $write->query($query);
echo "<h2>Thanks for sharing your feedback.</h2>";
echo "<a href='http://www.printland.in/'><button style='margin:25px' class='button'><span><span>Take me back to home</span></span></button></a>";
}else{

?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Printland.in: Survey</title>

<style>

.outer-div{ margin:0 auto; width:940px; font-size:13px;}
.options-table{ width:100%; margin-top:5px; padding:0;}
.bmargin15{ margin-bottom:15px;}
table{ border-collapse:collapse; border-spacing:0;}
.options-table TD.first-cell{ border-left-width:1px; width:5%; vertical-align:middle;}
.options-table TD.first-cell{ border-top-width:1px; background-color:#c8ebf7; font-weight:bold;}
.options-table TD{ padding:10px; margin:0; text-align:center; font-size:13px; border:1px solid #999; border-width:0 1px 1px 0;}
.q-num{ font-weight:bold;}
.options-table TD.params.top-cell{ text-align:center;}
.options-table TD.params{ width:30%; vertical-align:middle;}
.options-table TD.top-cell{ border-top-width:1px; background-color:#c8ebf7; font-weight:bold;}
.question{ margin-bottom:10px; overflow:hidden; padding-bottom:15px;}
.other-feedback{ font-size:13px; width:98.8%; height:150px; padding:5px;}
.bmargin5{ margin-bottom:5px;}
.size2of5{ width:40%;}
.selectclass { text-transform:none; padding:4px 3px 3px 5px; color:#333;-webkit-border-radius:1px; overflow:hidden; display:block; outline:0; border:1px solid #ccc; width:230px; font-size:12px; margin-top:0;}
.unit{ float:left;}
.products{ font-weight:bold; padding:5px; font-size:13px;}
.products li{ list-style-type:disc; margin-left:15px;}
</style>
</head>
<body>
<div class="outer-div">
 <div>
    <div>
    <form  action="" method="post" id="searchForm"  name="survey-form" onsubmit="">
       
        Dear Customer,
        <br><br>
                   <p> Thanks for your rating!<br><br  />
We would like to know more about your shopping experience with us. We have a small set of some quick questions and request for about 5 Minutes of your time to share your valuable feedback with us.</p>
               
        
        <p>With respect to your last order (PL<?php echo $_REQUEST['orderId']; ?>)</p>
       

        Please provide a rating on the following parameters: <br><br>

    <table class="options-table bmargin15">
        <tbody><tr>
            <td class="first-cell q-num top-cell">&nbsp;</td>
            <td class="params top-cell">Parameters</td>
                        <td class="option-last top-cell">1</td>
                                <td class="option-last top-cell">2</td>
                                <td class="option-last top-cell">3</td>
                                <td class="option-last top-cell">4</td>
                                <td class="option-last top-cell">5</td>
                        </tr>
        				<tr class="question">
					<td class="first-cell q-num">1</td>
            <td>
                <div class="query">
                    Ease of finding the exact product you were looking for                                    </div>
            </td>
                                <td>
                        <input class="radio" type="radio" name="question1" value="Very Difficult">
                        <div><label for="question1_0"> Very Difficult</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question1" value="A Bit Difficult">
                        <div><label for="question1_1">A Bit Difficult</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question1" value="Neutral">
                        <div><label for="question1_2">Neutral</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question1" value="Easy">
                        <div><label for="question1_3">Easy</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question1" value="Very Easy">
                        <div><label for="question1_4">Very Easy</label></div>
                    </td>
                                </tr>

        <tr class="question">
					<td class="first-cell q-num">2</td>
            <td>
                <div class="query">
                    Completeness and usefulness of product description on the website   
				</div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question2" value="Terrible">
                        <div><label for="question2_0">Terrible</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question2" value="Bad">
                        <div><label for="question2_1">Bad</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question2" value="Neutral">
                        <div><label for="question2_2">Neutral</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question2" value="Good">
                        <div><label for="question2_3">Good</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question2" value="Great">
                        <div><label for="question2_4">Great</label></div>
                    </td>
        </tr>

        <tr class="question">
					<td class="first-cell q-num">3</td>
            <td>
                <div class="query">
                    Ease of placing the order                                    </div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question3" value="Very Difficult">
                        <div><label for="question4_0"> Very Difficult</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question3" value="A Bit Difficult">
                        <div><label for="question4_1">A Bit Difficult</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question3" value="Neutral">
                        <div><label for="question4_2">Neutral</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question3" value="Easy">
                        <div><label for="question4_3">Easy</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question3" value="Very Easy">
                        <div><label for="question4_4">Very Easy</label></div>
                    </td>
        </tr>

        <tr class="question">
					<td class="first-cell q-num">4</td>
            <td>
                <div class="query">
                    Pricing of the products compared to other retailers                                    </div>
            </td>
                                <td>
                        <input class="radio" type="radio" name="question4" value="Very High">
                        <div><label for="question5_0">Very High</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question4" value="A Bit High">
                        <div><label for="question5_1"> A Bit High</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question4" value="Equal">
                        <div><label for="question5_2"> Equal</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question4" value="A Bit Low">
                        <div><label for="question5_3">A Bit Low</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question4" value="Very Low">
                        <div><label for="question5_4"> Very Low</label></div>
                    </td>
        </tr>

        <tr class="question">
					<td class="first-cell q-num">5</td>
            <td>
                <div class="query">
                    Timeliness of order fulfillment                                     </div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question5" value="Terrible">
                        <div><label for="question8_0">Terrible</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question5" value="Bad">
                        <div><label for="question8_1">Bad</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question5" value="Neutral">
                        <div><label for="question8_2">Neutral</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question5" value="Good">
                        <div><label for="question8_3">Good</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question5" value="Great">
                        <div><label for="question8_4">Great</label></div>
                    </td>
        </tr>

        <tr class="question">
					<td class="first-cell q-num">6</td>
            <td>
                <div class="query">
                    Overall Packaging Quality
				</div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question6" value="Terrible">
                        <div><label for="question9_0">Terrible</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question6" value="Bad">
                        <div><label for="question9_1">Bad</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question6" value="Neutral">

                        <div><label for="question9_2">Neutral</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question6" value="Good">
                        <div><label for="question9_3">Good</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question6" value="Great">
                        <div><label for="question9_4">Great</label></div>
                    </td>
        </tr>

            				<tr class="question">
					<td class="first-cell q-num" rowspan="2">7</td>
            <td rowspan="2">
                <div class="query">
                    If you had to contact customer support. How satisfied were you with the help provided                                    </div>
            </td>
                                <td>
                        <input class="radio" type="radio" name="question7" value="Terrible">
                        <div><label for="question10_0">Terrible</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question7" value="Bad">
                        <div><label for="question10_1">Bad</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question7" value="Neutral">
                        <div><label for="question10_2">Neutral</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question7" value="Good">
                        <div><label for="question10_3">Good</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question7" value="Great">
                        <div><label for="question10_4">Great</label></div>
                    </td>
                    </tr>
					<tr id="question10_related">
                        <td colspan="5">
                            <input class="radio" type="radio" name="question7" value="Not Applicable">
                            <label for="question10_5">Not Applicable</label>
                        </td>
                    </tr>
                                

            <tr class="question">
					<td class="first-cell q-num">8</td>
            <td>
                <div class="query">
                    Quality of product received                                    </div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question8" value="Terrible">
                        <div><label for="question11_0">Terrible</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question8" value="Bad">
                        <div><label for="question11_1">Bad</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question8" value="Neutral">
                        <div><label for="question11_2">Neutral</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question8" value="Good">
                        <div><label for="question11_3">Good</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question8" value="Great">
                        <div><label for="question11_4">Great</label></div>
                    </td>
            </tr>

            				<tr class="question" aria-required="true">
					<td class="first-cell q-num">9</td>
            <td>
                <div class="query">
                    How would you rate your Overall Experience ?                                    </div>
            </td>
                                <td>
                        <input class="radio" type="radio" name="question9" value="Terrible">
                        <div><label for="question12_0">Terrible</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question9" value="Bad">
                        <div><label for="question12_1">Bad</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question9" value="Neutral">
                        <div><label for="question12_2">Neutral</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question9" value="Good">
                        <div><label for="question12_3">Good</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question9" value="Great">
                        <div><label for="question12_4">Great</label></div>
                    </td>
                                </tr>

            				<tr class="question">
					<td class="first-cell q-num">10</td>
            <td>
                <div class="query">
                    Will you buy again from Printland ?                                    </div>
            </td>
                    <td>
                        <input class="radio" type="radio" name="question10" value="Never">
                        <div><label for="question13_0"> Never</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question10" value="Unlikely">
                        <div><label for="question13_1"> Unlikely</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question10" value="Maybe">
                        <div><label for="question13_2">Maybe</label></div>
                    </td>
                    <td>
                        <input class="radio" type="radio" name="question10" value="Probably">
                        <div><label for="question13_3"> Probably</label></div>
                    </td>
                                        <td>
                        <input class="radio" type="radio" name="question10" value="Definitely">
                        <div><label for="question13_4">Definitely</label></div>
                    </td>
                                </tr>

            			</tbody></table>
					            <div class="question">
                <div>
                    Any other feedback?                                    </div>
                <div class="answer">
                    <textarea name="otherfeedback" class="other-feedback"></textarea>
                </div>
            </div>
                                			
					            <div class="description bmargin5">
                Please tell us a little more about yourself (optional)            </div>
                                			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Age                </div>
                                    <select name="age" class="selectclass">
                                                <option value="Select Age Bracket">Select Age Bracket</option>
                                                <option value="Less than 15">Less than 15</option>
                                                <option value="15 - 24 Years">15 - 24 Years</option>
                                                <option value="25 - 34 Years">25 - 34 Years</option>
                                                <option value="35 - 44 years">35 - 44 years</option>
                                                <option value="More than 45 Years">More than 45 Years</option>
                                    </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Gender                </div>
                                    <select name="gender" class="selectclass">
                                                <option value="Select Gender">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                    </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Education                </div>
                                    <select name="education" class="selectclass">
                                                <option value="Select Education">Select Education</option>
                                                <option value="Graduate/ Post Graduate">Graduate/ Post Graduate -(B.E, B.Tech, MBA, M.E, M.Tech/ M.A/ M. Sc/ B.A/ B.Sc etc)</option>
                                                <option value="Some College but not graduate">Some College but not graduate</option>
                                                <option value="SSC/ HSC (10th / 12th Std)">SSC/ HSC (10th / 12th Std)</option>
                                                <option value="Upto 9th Std">Upto 9th Std</option>
                                            </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Occupation                </div>
                                    <select name="occupation" class="selectclass">
                                                <option value="Select Occupation">Select Occupation</option>
                                                <option value="Officer/ Executive - Junior">Officer/ Executive - Junior</option>
                                                <option value="Officer Executive - Mid / Senior">Officer Executive - Mid / Senior</option>
                                                <option value="Self Employed">Self Employed</option>
                                                <option value="Businessperson">Businessperson</option>
                                                <option value="Student">Student</option>
                                                <option value="Homemaker">Homemaker</option>
                                    </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Lifestage                </div>
                                    <select name="lifestage" class="selectclass">
                                                <option value="Select Lifestage">Select Lifestage</option>
                                                <option value="Single">Single</option>
                                                <option value="Married with no kids">Married with no kids</option>
                                                <option value="Married with kids">Married with kids</option>
                                    </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Was this particular order placed by you or someone else                </div>
                                    <select name="relation" class="selectclass">
                                                <option value="Select Option">Select Option</option>
                                                <option value="Self">Self</option>
                                                <option value="Father/ in-law">Father/ in-law</option>
                                                <option value="Mother/ in-law">Mother/ in-law</option>
                                                <option value="Spouse">Spouse</option>
                                                <option value="Brother/ in-law">Brother/ in-law</option>
                                                <option value="Sister/ in-law">Sister/ in-law</option>
                                                <option value="Son">Son</option>
                                                <option value="Daughter">Daughter</option>
                                    </select>
                                </div>
                                    			
					            <div class="bmargin5">
                <div class="unit size2of5">
                    Annual Household Income                </div>
                                    <select name="annual_income" class="selectclass">
                                                <option value="Select Income Bracket">Select Income Bracket</option>
                                                <option value="Upto -    3,00,000">Upto -    3,00,000</option>
                                                <option value="3,00,001 -   5,00,000">3,00,001 -   5,00,000</option>
                                                <option value="5,00,001 -  10,00,000">5,00,001 -  10,00,000</option>
                                                <option value="10,00,001 - 15,00,000">10,00,001 - 15,00,000</option>
                                                <option value="15,00,001 - 20,00,000">15,00,001 - 20,00,000</option>
                                                <option value="Greater than 20,00,000">Greater than 20,00,000</option>
                                    </select>
                                </div>
                                            

       

       <button style="float:right; margin:-25px 25px;" id="sbmt-btn" value="save" name="submit" type="submit" title="Submit" class="button"><span><span>Feedback</span></span></button>
	   
	   <input type="hidden" name="orderId" value="<?php echo $_REQUEST['orderId'] ?>" />
	   
    </form>
    </div>
			            </div>
		</div>
                        
</body>
</html>

<?php } ?>