<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Paper Products</title>
<style>
.yellow-large{
background: #ffdc5c;
border: none;
font-size: 14px;
font-weight: bold;
width: 100%;
line-height: 30px;
margin: 0 0 5px 0;
border-radius: 5px;
box-shadow: 0px 1px 3px #b1b1b1;
}

.yellow-large:hover
{
	box-shadow: 1px 1px 3px #b1b1b1;}



a.share-button + .sharebox {
position: absolute;
top: 50px;
right: 20px;
}

.sharebox.show {
display: block;
}

.sharebox {
display: none;
border-radius: 4px;
background-color: #FFF;
 background-color: #E8E8E8;
background-image: /* gloss gradient */ -webkit-gradient( linear, left bottom, left top, color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.2))), /* dark outside gradient */ -webkit-gradient( linear, left top, right top, color-stop(0%,rgba(210,210,210,0.3)), color-stop(20%,rgba(210,210,210,0)), color-stop(80%,rgba(210,210,210,0)), color-stop(100%,rgba(210,210,210,0.3))), /* light inner gradient */ -webkit-gradient( linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.5)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))), /* diagonal line pattern */ -webkit-gradient( linear, 0% 100%, 100% 0%, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0)), color-stop(40%,#D2D2D1), color-stop(60%,#D2D2D1), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));

box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
/*width: 120px;*/
position: absolute;
padding: 20px;
z-index: 999;
}
.sharebox:after {
content: '';
width: 17px;
height: 16px;
left: -23px;
top: 0px;
border-radius: 2px 2px 2px 2px;
float: left;
margin-left: 16px;
margin-top: 16px;
position: absolute;
-webkit-transform: rotate(315deg);
-moz-transform: rotate(315deg);
-o-transform: rotate(315deg);
-ms-transform: rotate(315deg);
transform: rotate(315deg);
background-color: #E8E8E8;

box-shadow: -1px -1px 2px -1px rgba(0, 0, 0, 0.2);
}

























.productMatrixRow{
width: 300px;
}
select{
    border: 3px double #dddddd;
    border-radius: 3px;
    margin: 2px;
    padding: 4px;
    width: 180px;
}
</style>

<style>
.ulparent{
float:left;
width:100px;
}
.ulparent-size {
float: left;
width: 100px;
}

.back{
background: url(http://www.printland.in/skin/frontend/default/default/images/nav-bg.png) repeat-x scroll 0 0 transparent!important;

text-align: center;
border: 1px solid #fff;
padding: 6px 10px;
line-height: 18px;
box-sizing: border-box;
color: #FFF;

font-weight: bolder;
font-family: 'StoneSansIIITCW01-Bd', Arial, Helvetica, sans-serif;
border-collapse: collapse;
}

.ulparent ul li {
color: #ffffff;
cursor: pointer;
padding: 4px;
margin:2px;
text-align: center;
list-style-image: none;
line-height: 18px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: url(http://www.printland.in/skin/frontend/default/default/images/nav-bg.gif) repeat-x 0 0;
}
.ulparent-size ul li {
color: #ffffff;
cursor: default;
padding: 4px;
margin: 2px;
text-align: center;
list-style-image: none;
line-height: 18px;
background: url(http://www.printland.in/skin/frontend/default/default/images/nav-bg.png) repeat-x scroll 0 0 transparent!important;

}

.ulparent ul li:hover{
color:#ffffff;
-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}


.ulparent ul{
list-style: none outside none;
list-style: none outside none;
margin: 0;
padding: 0;
}
</style>


</head>

<body>

<div class="container-non" style="width:100%;">
<table width="100%" border="1">
  <tr>
        <td style="width:33%;" ><img style="width: 90%;" src="http://uploads.printland.in/Business/images/Brochure-Printing-Jb.png" alt="Brochures" /></div></td>
   <td style="width:33%;" ><h3>Booklet/Magzene Printing</h3>
<ul class="green-check">
<li>Variety of folding options</li>
<li>Impressive full color printing</li>
<li>Gloss, matte or uncoated paper options</li>
<li>Pick a standard size or go for a unique custom size</li>
</ul></td>
<td style="width:33%;"><div class="best-facts" style="padding:0px;"><!--<span class="best-known">Printland, Best Known For:</span>-->
<ul class="best-facts-ul">
<li><img src="/images/spacer.gif" alt="" width="1" height="1" />
<h6><img class="best-icons" src="http://campaign.printland.in/images/fast&amp;quick.png" alt="" />Fast &amp; Quick Delivery.</h6>
</li>
<li><img src="/images/spacer.gif" alt="" width="1" height="1" />
<h6><img class="best-icons" src="http://campaign.printland.in/images/guarantee.png" alt="" /> Best in Class Services.</h6>
</li>
<li><img src="/images/spacer.gif" alt="" width="1" height="1" />
<h6><img class="best-icons" src="http://campaign.printland.in/images/across500.png" alt="" />Delivery across 500 Cities.</h6>
</li>
<li><img src="/images/spacer.gif" alt="" width="1" height="1" />
<h6><img class="best-icons" src="http://campaign.printland.in/images/lower-price-gur.png" alt="" />Lowest Price Guranteed.</h6>
</li>
</ul>
</div></td>
  </tr>
  
  
</table>


<hr class="line" / style="width:100%;"><br />

<div id="tabvanilla" class="widget-j" style="float:left">
<ul class="tabnav">
<li><a href="#featured">Pricing</a></li>
<li><a href="#popular">Specifications</a></li>
<li><a href="#recent">Delivery Time</a></li>
</ul>
<div id="featured" class="tabdiv" style="float:left">


<div style="float:left; margin-left:30px;">
<table>

	<tr>
		<td>Enter Size</td>
		<td>
			<select id="size">
					<option value="A4">A4</option>
					<option value="A5">A5</option>
			</select>
		</td>
	</tr>

	
	
	<tr>
		<td>No. of inside pages(Excluding Cover)</td>
		<td>   <select id="sheets">
					<option value="4">4</option>
					<option value="8">8</option>
					<option value="12">12</option>
					<option value="16">16</option>
					<option value="20">20</option>
					<option value="24">24</option>
					<option value="28">28</option>
					<option value="32">32</option>
					<option value="36">36</option>
					<option value="40">40</option>
					<option value="44">44</option>
					<option value="48">48</option>
					<option value="52">52</option>
					<option value="56">56</option>
					<option value="60">60</option>
					<option value="64">64</option>
					<option value="68">68</option>
					<option value="72">72</option>
					<option value="76">76</option>
					<option value="80">80</option>
					<option value="100">100</option>
					<option value="120">120</option>
					<option value="160">160</option>
					<option value="200">200</option>
					<option value="400">400</option>
					<option value="800">800</option>
					<option value="1000">1000</option>
					<option value="1200">1200</option>
				</select>
		</td>
	</tr>
	<tr>
		<td>Inside Paper GSM</td>
		<td>   <select id="gsm">
					<option>60</option>
					<option>70</option>
					<option>80</option>
					<option>90</option>
					<option>100</option>
					<option>110</option>
					<option>120</option>
					<option>130</option>
					<option>150</option>
					<option>170</option>
					<option>210</option>
					<option>220</option>
					<option>250</option>
					<option>300</option>
					<option>350</option>
					
				</select>
		</td>
	</tr>
	
	<tr>
		<td>Inside Paper Finishing</td>
		<td>   
		        <select id="lamination">
					<option value="none">None</option>
					<option value="matt">Matt Laminaton</option>
					<option value="gloss">Gloss Lamination</option>
					<option value="aqueous">Aqueous Coating</option>
				</select>
		</td>
	</tr>
	
	<tr>
		<td>Cover GSM</td>
		<td>   <select id="cover_gsm">
					<option>60</option>
					<option>70</option>
					<option>80</option>
					<option>90</option>
					<option>100</option>
					<option>110</option>
					<option>120</option>
					<option>130</option>
					<option>150</option>
					<option>170</option>
					<option>210</option>
					<option>220</option>
					<option>250</option>
					<option>300</option>
					<option>350</option>
					
				</select>
		</td>
	</tr>
	
	<tr>
		<td>Cover Finishing</td>
		<td>   
				<select id="cover_lamination">
					<option value="none">None</option>
					<option value="matt">Matt Lamination</option>
					<option value="gloss">Gloss Lamination</option>
					<option value="aqueous">Aqueous Coating</option>
				</select>
		</td>
	</tr>
	
	<tr>
		<td>Binding</td>
		<td>   
				<select id="binding">
					<option value="none">None</option>
					<option value="centerpin">Center Pin</option>
					<option value="spiral-landscape">Spiral-LandScape</option>
					<option value="spiral-portrait">Spiral-Portrait</option>
					<option value="wirro-landscape">Wiro-LandScape</option>
					<option value="wirro-portrait">Wiro-Portrait</option>
					<option value="sewingPerfect">Sweing Perfect</option>
					<option value="perfect_without_swing">Perfect(Without Swing)</option>
				</select>
		</td>
	</tr>
	  
</table>
</div>
<div id="output" style="float:left"></div>

<div id="priceMatrix" style="float:right; margin: 0px 50px;">

</div>
<div class="sharebox show" style="display:none">
    <button id="send-enquiry" class="yellow-large">Send Enquiry</button>
    <button id="add-to-cart" class="yellow-large">Add to cart</button>
</div>
</div>
<div id="popular" class="tabdiv"><!-- start of schema description -->
<div class="Ptab-wrap">
<div class="Ptab-left">
<h2>Brochure Features</h2>
<div class="Ptab-ListCheck">
<ul>
<li>Full color on front or both sides, or black or blank on the back</li>
<li>Folding options only 1 cent each for any size!</li>
<li>FREE gloss aqueous coating</li>
<li>Optional UV coating for extra shine and durability</li>
<li>4-day production (rush available)</li>
<li>Full service direct mailing</li>
</ul>
</div>
</div>
<div class="Ptab-right"><img style="margin: 8px 0 0 0;" src="http://uploads.printland.in/fnf/images/tab2-brochures2.jpg" alt="printed brochure" width="260" height="175" border="0" /></div>
</div>
<div class="Ptab-wrap">
<div class="Ptab-left">
<h2>Standard Brochure Sizes</h2>
<div class="Ptab-List" style="list-style-type: disc;">
<ul>
<li>3.5" x 8.5"</li>
<li>5.5" x 8.5"</li>
<li>8.5" x 11"</li>
<li>8.5" x 14"</li>
<li>11" x 17"</li>
<li>11" x 25.5"</li>
<li>Custom Sizes</li>
</ul>
</div>
</div>
<div class="Ptab-right">
<h2>Paper Options</h2>
Choose text or cover stocks:
<div class="Ptab-List" style="list-style-type: disc;">
<ul>
<li>80# Gloss or Dull/Matte text</li>
<li>100# Gloss or Dull/Matte text</li>
<li>80# Gloss or Dull/Matte cover</li>
<li>Many custom papers</li>
</ul>
</div>
</div>
</div>
</div>
<!--/popular-->
<div id="recent" class="tabdiv">
<p>The total delivery time consists of: Receipt of payment, receipt of data, production time and shipment duration</p>
<strong>Receipt of Payment:</strong> Advanced payment is the only type of payment that requires the receipt and booking of payment prior to the start of production. Please take this into consideration for orders with pressing deadlines. <strong>Receipt of data:</strong> As soon as all data has been sent by using "upload image or text", or for bulk you can send your artwork through mail, you must confirm this by placing "complete order". Only then can the data be processed by our production department. <strong>Production time:</strong> The production times depend on the Quantity, item and/or your selection from the respective product page, our standard production time is 2 days for quantity up to 2000. For higher quantity, standard production time is 4 days <strong>Shipment duration:</strong> The shipment duration depends on your order (standard or express) and the respective location,<br />**Your personally designed and printed products will reach you within 7-10 working days.
<p>Outside of India: Contact us to know more about international shipment time and Shipping charges.</p>
<p>Delivery Charges:</p>
Within India, we are charging Rs. 45/- for delivery of each online gift order for individuals (Retail orders).<br /> In case, if the bulk order delivery has to take place outside Delhi or NCR region or outside India then delivery charges would be applicable as per the actual charges determined by the courier companies<br /> If you want to get a faster delivery in case of emergency then get connected to our sales team. We would make a faster delivery happen for you for which extra charges would be applicable. The charges would be as per express delivery charges.</div>
<!--/recent--> <!--featured-->
<script type="text/javascript">// <![CDATA[
			jQuery(document).ready(function() {
			
			jQuery('#tabvanilla > ul').tabs({ fx: { height: 'toggle', opacity: 'toggle' } });
			
			
			});
// ]]></script>
</div>
<div class="trusted-partners" style="clear: both;">
<div class="left-side-heading-enq">Trusted Partner for Top Brands</div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-4.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/BTLOGO1.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/wipro.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-6.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/tcs.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/BTLOGO6.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/GOV-1.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/GOV-2.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/GOV-3.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/dell.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/convergys.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/genpact.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/irctc.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-5.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-1.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-2.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/dhl.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/LOGO-NEW-3.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/iam.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/metacut.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/zsassociate.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/forbes-marshall.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/indo-us.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/edifecs.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/fratelli-wines.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/proval.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/ritu-tshirt.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/BTLOGO2.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/BTLOGO3.png" alt="" /></div>
<div class="image-partner-enq"><img src="http://campaign.printland.in/images/BTLOGO4.png" alt="" /></div>
<h5 style="color: #f7132e; text-align: right; line-height: 80px; float: left;">+ 500 Brands</h5>
</div>

<script>
jQuery(document).ready(function(){
	 
	    
	    
		
		jQuery('#close-popup').click(function(){
					
			jQuery('#iframe-Container').fadeOut('slow');
			jQuery('.vicky').animate({top: "0px",left:"0px"}, 500).remove();
			jQuery('#overlay').fadeOut('slow');
		});
		
});

</script>

 
<div id="iframe-Container" style="display:none;margin: 0px auto; float: none; position: fixed; top: 50px; left: 500px; z-index: 1000;"><div style="position: absolute;top:-6px;right:-6px; cursor:pointer;" id="close-popup"><img src="http://campaign.printland.in/bulk-enquiry/close.png" title="To Close This PopUp Click Here" /></div> <iframe style='height:521px;width:405px;' src="http://campaign.printland.in/bulk-enquiry/index.php"></iframe> </div>
<div style="display:none;position: fixed; top: 0px; left: 0px; background-color: rgb(77, 73, 73); width: 100%; height: 100%; z-index: 500; opacity: 0.5;" id="overlay"></div> 




<script>
jQuery(document).ready(function(){
         	
		changeUrl=function(){
			     
				 var  qty=jQuery('input[type=text]').val();
				 var size=jQuery('#size').val();
			     var sheet=jQuery('#sheets').val();
			     var gsm=jQuery('#gsm').val();
			     var coating=jQuery('#coating').val();
			     var lamination=jQuery('#lamination').val();
			     var cover_lamination=jQuery('#cover_lamination').val();
			     var cover_gsm=jQuery('#cover_gsm').val();
			     var binding=jQuery('#binding').val();
			    
			        /*
					 if(qty){
					 qty=1;
					 $('input[type=text]').val(1);
					 }
					*/
					
				   //alert(qty+size+sheet+gsm+coating+lamination);
				   
				     
					 jQuery.ajax({
						type: "GET",
						url: "http://www.printland.in/pricecalcy/calculator.php",
						data: "size=" + size + "&qty=" + qty+"&pages=" + sheet + "&gsm=" + gsm+ "&lamination=" + lamination+ "&binding=" + binding+ "&cover_lamination=" + cover_lamination+"&cover_gsm=" + cover_gsm,
						success: function (response) {
								jQuery("#priceMatrix").html(response);
						}
					 });
					
				 //window.location.href ="http://localhost/calculator/calculator.php?size=A4&qty=500&pages=24&gsm=70&paperprice=12;
				   
		};
			
			
		jQuery('select').change(function (){
             changeUrl();
        })
		jQuery('input[type=text]').change(function (){
             changeUrl();
        })	
			
changeUrl();			
});		  

</script>














<script type="text/javascript">// <![CDATA[
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(3(C){C.8={3o:{19:3(E,F,H){6 G=C.8[E].1h;21(6 D 3p H){G.1I[D]=G.1I[D]||[];G.1I[D].28([F,H[D]])}},2P:3(D,F,E){6 H=D.1I[F];5(!H){7}21(6 G=0;G<H.k;G++){5(D.b[H[G][0]]){H[G][1].1H(D.c,E)}}}},1l:{},n:3(D){5(C.8.1l[D]){7 C.8.1l[D]}6 E=C(\'<2a 3s="8-3r">\').j(D).n({3q:"3i",2g:"-2A",3g:"-2A",1r:"1w"}).22("2C");C.8.1l[D]=!!((!(/3I|3P/).12(E.n("3z"))||(/^[1-9]/).12(E.n("2T"))||(/^[1-9]/).12(E.n("2E"))||!(/2v/).12(E.n("3w"))||!(/3S|3C\\(0, 0, 0, 0\\)/).12(E.n("3D"))));3E{C("2C").2w(0).3B(E.2w(0))}3x(F){}7 C.8.1l[D]},3y:3(D){C(D).v("1p","2I").n("2q","2v")},3H:3(D){C(D).v("1p","3O").n("2q","")},3Q:3(G,E){6 D=/2g/.12(E||"2g")?"3N":"3M",F=e;5(G[D]>0){7 t}G[D]=1;F=G[D]>0?t:e;G[D]=0;7 F}};6 B=C.2e.W;C.2e.W=3(){C("*",2).19(2).z("W");7 B.1H(2,2M)};3 A(E,F,G){6 D=C[E][F].35||[];D=(1F D=="1E"?D.2h(/,?\\s+/):D);7(C.1j(G,D)!=-1)}C.1i=3(E,D){6 F=E.2h(".")[0];E=E.2h(".")[1];C.2e[E]=3(J){6 H=(1F J=="1E"),I=2D.1h.3J.2P(2M,1);5(H&&A(F,E,J)){6 G=C.i(2[0],E);7(G?G[J].1H(G,I):1n)}7 2.14(3(){6 K=C.i(2,E);5(H&&K&&C.3v(K[J])){K[J].1H(K,I)}o{5(!H){C.i(2,E,3e C[F][E](2,J))}}})};C[F][E]=3(I,H){6 G=2;2.15=E;2.2H=F+"-"+E;2.b=C.1A({},C.1i.1k,C[F][E].1k,H);2.c=C(I).u("1e."+E,3(L,J,K){7 G.1e(J,K)}).u("2j."+E,3(K,J){7 G.2j(J)}).u("W",3(){7 G.1b()});2.23()};C[F][E].1h=C.1A({},C.1i.1h,D)};C.1i.1h={23:3(){},1b:3(){2.c.1q(2.15)},2j:3(D){7 2.b[D]},1e:3(D,E){2.b[D]=E;5(D=="f"){2.c[E?"j":"r"](2.2H+"-f")}},1X:3(){2.1e("f",e)},1P:3(){2.1e("f",t)}};C.1i.1k={f:e};C.8.2J={3h:3(){6 D=2;2.c.u("3d."+2.15,3(E){7 D.2G(E)});5(C.x.13){2.2K=2.c.v("1p");2.c.v("1p","2I")}2.3c=e},38:3(){2.c.16("."+2.15);(C.x.13&&2.c.v("1p",2.2K))},2G:3(F){(2.V&&2.1o(F));2.1C=F;6 E=2,G=(F.39==1),D=(1F 2.b.25=="1E"?C(F.2f).2x().19(F.2f).y(2.b.25).k:e);5(!G||D||!2.2S(F)){7 t}2.1D=!2.b.26;5(!2.1D){2.3a=1x(3(){E.1D=t},2.b.26)}5(2.2m(F)&&2.1T(F)){2.V=(2.1U(F)!==e);5(!2.V){F.3b();7 t}}2.2n=3(H){7 E.2r(H)};2.2l=3(H){7 E.1o(H)};C(2N).u("2O."+2.15,2.2n).u("2t."+2.15,2.2l);7 e},2r:3(D){5(C.x.13&&!D.3j){7 2.1o(D)}5(2.V){2.1V(D);7 e}5(2.2m(D)&&2.1T(D)){2.V=(2.1U(2.1C,D)!==e);(2.V?2.1V(D):2.1o(D))}7!2.V},1o:3(D){C(2N).16("2O."+2.15,2.2n).16("2t."+2.15,2.2l);5(2.V){2.V=e;2.2u(D)}7 e},2m:3(D){7(29.3m(29.2z(2.1C.2L-D.2L),29.2z(2.1C.2s-D.2s))>=2.b.2F)},1T:3(D){7 2.1D},1U:3(D){},1V:3(D){},2u:3(D){},2S:3(D){7 t}};C.8.2J.1k={25:U,2F:1,26:0}})(27);(3(A){A.1i("8.4",{23:3(){2.b.Z+=".4";2.1m(t)},1e:3(B,C){5((/^d/).12(B)){2.1v(C)}o{2.b[B]=C;2.1m()}},k:3(){7 2.$4.k},1Q:3(B){7 B.2R&&B.2R.1g(/\\s/g,"2Q").1g(/[^A-4o-4x-9\\-2Q:\\.]/g,"")||2.b.2X+A.i(B)},8:3(C,B){7{b:2.b,4u:C,30:B,11:2.$4.11(C)}},1m:3(O){2.$l=A("1O:4p(a[p])",2.c);2.$4=2.$l.1G(3(){7 A("a",2)[0]});2.$h=A([]);6 P=2,D=2.b;2.$4.14(3(R,Q){5(Q.X&&Q.X.1g("#","")){P.$h=P.$h.19(Q.X)}o{5(A(Q).v("p")!="#"){A.i(Q,"p.4",Q.p);A.i(Q,"q.4",Q.p);6 T=P.1Q(Q);Q.p="#"+T;6 S=A("#"+T);5(!S.k){S=A(D.2d).v("1s",T).j(D.1u).4l(P.$h[R-1]||P.c);S.i("1b.4",t)}P.$h=P.$h.19(S)}o{D.f.28(R+1)}}});5(O){2.c.j(D.2b);2.$h.14(3(){6 Q=A(2);Q.j(D.1u)});5(D.d===1n){5(20.X){2.$4.14(3(S,Q){5(Q.X==20.X){D.d=S;5(A.x.13||A.x.43){6 R=A(20.X),T=R.v("1s");R.v("1s","");1x(3(){R.v("1s",T)},44)}4m(0,0);7 e}})}o{5(D.1c){6 J=46(A.1c("8-4"+A.i(P.c)),10);5(J&&P.$4[J]){D.d=J}}o{5(P.$l.y("."+D.m).k){D.d=P.$l.11(P.$l.y("."+D.m)[0])}}}}D.d=D.d===U||D.d!==1n?D.d:0;D.f=A.41(D.f.40(A.1G(2.$l.y("."+D.1a),3(R,Q){7 P.$l.11(R)}))).31();5(A.1j(D.d,D.f)!=-1){D.f.3V(A.1j(D.d,D.f),1)}2.$h.j(D.18);2.$l.r(D.m);5(D.d!==U){2.$h.w(D.d).1S().r(D.18);2.$l.w(D.d).j(D.m);6 K=3(){A(P.c).z("1K",[P.Y("1K"),P.8(P.$4[D.d],P.$h[D.d])],D.1S)};5(A.i(2.$4[D.d],"q.4")){2.q(D.d,K)}o{K()}}A(3U).u("3W",3(){P.$4.16(".4");P.$l=P.$4=P.$h=U})}21(6 G=0,N;N=2.$l[G];G++){A(N)[A.1j(G,D.f)!=-1&&!A(N).1f(D.m)?"j":"r"](D.1a)}5(D.17===e){2.$4.1q("17.4")}6 C,I,B={"3X-2E":0,1R:1},E="3Z";5(D.1d&&D.1d.3Y==2D){C=D.1d[0]||B,I=D.1d[1]||B}o{C=I=D.1d||B}6 H={1r:"",47:"",2T:""};5(!A.x.13){H.1W=""}3 M(R,Q,S){Q.2p(C,C.1R||E,3(){Q.j(D.18).n(H);5(A.x.13&&C.1W){Q[0].2B.y=""}5(S){L(R,S,Q)}})}3 L(R,S,Q){5(I===B){S.n("1r","1w")}S.2p(I,I.1R||E,3(){S.r(D.18).n(H);5(A.x.13&&I.1W){S[0].2B.y=""}A(P.c).z("1K",[P.Y("1K"),P.8(R,S[0])],D.1S)})}3 F(R,T,Q,S){T.j(D.m).4k().r(D.m);M(R,Q,S)}2.$4.16(".4").u(D.Z,3(){6 T=A(2).2x("1O:w(0)"),Q=P.$h.y(":4e"),S=A(2.X);5((T.1f(D.m)&&!D.1z)||T.1f(D.1a)||A(2).1f(D.1t)||A(P.c).z("2y",[P.Y("2y"),P.8(2,S[0])],D.1v)===e){2.1M();7 e}P.b.d=P.$4.11(2);5(D.1z){5(T.1f(D.m)){P.b.d=U;T.r(D.m);P.$h.1Y();M(2,Q);2.1M();7 e}o{5(!Q.k){P.$h.1Y();6 R=2;P.q(P.$4.11(2),3(){T.j(D.m).j(D.2c);L(R,S)});2.1M();7 e}}}5(D.1c){A.1c("8-4"+A.i(P.c),P.b.d,D.1c)}P.$h.1Y();5(S.k){6 R=2;P.q(P.$4.11(2),Q.k?3(){F(R,T,Q,S)}:3(){T.j(D.m);L(R,S)})}o{4b"27 4c 4d: 3n 49 4a."}5(A.x.13){2.1M()}7 e});5(!(/^24/).12(D.Z)){2.$4.u("24.4",3(){7 e})}},19:3(E,D,C){5(C==1n){C=2.$4.k}6 G=2.b;6 I=A(G.37.1g(/#\\{p\\}/g,E).1g(/#\\{1L\\}/g,D));I.i("1b.4",t);6 H=E.4i("#")==0?E.1g("#",""):2.1Q(A("a:4g-4h",I)[0]);6 F=A("#"+H);5(!F.k){F=A(G.2d).v("1s",H).j(G.18).i("1b.4",t)}F.j(G.1u);5(C>=2.$l.k){I.22(2.c);F.22(2.c[0].48)}o{I.36(2.$l[C]);F.36(2.$h[C])}G.f=A.1G(G.f,3(K,J){7 K>=C?++K:K});2.1m();5(2.$4.k==1){I.j(G.m);F.r(G.18);6 B=A.i(2.$4[0],"q.4");5(B){2.q(C,B)}}2.c.z("2Y",[2.Y("2Y"),2.8(2.$4[C],2.$h[C])],G.19)},W:3(B){6 D=2.b,E=2.$l.w(B).W(),C=2.$h.w(B).W();5(E.1f(D.m)&&2.$4.k>1){2.1v(B+(B+1<2.$4.k?1:-1))}D.f=A.1G(A.34(D.f,3(G,F){7 G!=B}),3(G,F){7 G>=B?--G:G});2.1m();2.c.z("2V",[2.Y("2V"),2.8(E.2k("a")[0],C[0])],D.W)},1X:3(B){6 C=2.b;5(A.1j(B,C.f)==-1){7}6 D=2.$l.w(B).r(C.1a);5(A.x.4n){D.n("1r","4t-1w");1x(3(){D.n("1r","1w")},0)}C.f=A.34(C.f,3(F,E){7 F!=B});2.c.z("33",[2.Y("33"),2.8(2.$4[B],2.$h[B])],C.1X)},1P:3(C){6 B=2,D=2.b;5(C!=D.d){2.$l.w(C).j(D.1a);D.f.28(C);D.f.31();2.c.z("32",[2.Y("32"),2.8(2.$4[C],2.$h[C])],D.1P)}},1v:3(B){5(1F B=="1E"){B=2.$4.11(2.$4.y("[p$="+B+"]")[0])}2.$4.w(B).4q(2.b.Z)},q:3(G,K){6 L=2,D=2.b,E=2.$4.w(G),J=E[0],H=K==1n||K===e,B=E.i("q.4");K=K||3(){};5(!B||!H&&A.i(J,"17.4")){K();7}6 M=3(N){6 O=A(N),P=O.2k("*:4s");7 P.k&&P.4v(":45(3R)")&&P||O};6 C=3(){L.$4.y("."+D.1t).r(D.1t).14(3(){5(D.1N){M(2).3l().1B(M(2).i("1L.4"))}});L.1y=U};5(D.1N){6 I=M(J).1B();M(J).3k("<2o></2o>").2k("2o").i("1L.4",I).1B(D.1N)}6 F=A.1A({},D.1J,{2U:B,2i:3(O,N){A(J.X).1B(O);C();5(D.17){A.i(J,"17.4",t)}A(L.c).z("2Z",[L.Y("2Z"),L.8(L.$4[G],L.$h[G])],D.q);D.1J.2i&&D.1J.2i(O,N);K()}});5(2.1y){2.1y.3f();C()}E.j(D.1t);1x(3(){L.1y=A.3u(F)},0)},2U:3(C,B){2.$4.w(C).1q("17.4").i("q.4",B)},1b:3(){6 B=2.b;2.c.16(".4").r(B.2b).1q("4");2.$4.14(3(){6 C=A.i(2,"p.4");5(C){2.p=C}6 D=A(2).16(".4");A.14(["p","q","17"],3(E,F){D.1q(F+".4")})});2.$l.19(2.$h).14(3(){5(A.i(2,"1b.4")){A(2).W()}o{A(2).r([B.m,B.2c,B.1a,B.1u,B.18].3G(" "))}})},Y:3(B){7 A.Z.3L({3t:B,2f:2.c[0]})}});A.8.4.1k={1z:e,Z:"24",f:[],1c:U,1N:"3F&#3A;",17:e,2X:"8-4-",1J:{},1d:U,37:\'<1O><a p="#{p}"><2W>#{1L}</2W></a></1O>\',2d:"<2a></2a>",2b:"8-4-3K",m:"8-4-d",2c:"8-4-1z",1a:"8-4-f",1u:"8-4-30",18:"8-4-3T",1t:"8-4-4w"};A.8.4.35="k";A.1A(A.8.4.1h,{1Z:U,4r:3(C,F){F=F||e;6 B=2,E=2.b.d;3 G(){B.1Z=42(3(){E=++E<B.$4.k?E:0;B.1v(E)},C)}3 D(H){5(!H||H.4j){4f(B.1Z)}}5(C){G();5(!F){2.$4.u(2.b.Z,D)}o{2.$4.u(2.b.Z,3(){D();E=B.b.d;G()})}}o{D();2.$4.16(2.b.Z,D)}}})})(27);',62,282,'||this|function|tabs|if|var|return|ui|||options|element|selected|false|disabled||panels|data|addClass|length|lis|selectedClass|css|else|href|load|removeClass||true|bind|attr|eq|browser|filter|triggerHandler|||||||||||||||||||||null|_mouseStarted|remove|hash|fakeEvent|event||index|test|msie|each|widgetName|unbind|cache|hideClass|add|disabledClass|destroy|cookie|fx|setData|hasClass|replace|prototype|widget|inArray|defaults|cssCache|tabify|undefined|mouseUp|unselectable|removeData|display|id|loadingClass|panelClass|select|block|setTimeout|xhr|unselect|extend|html|_mouseDownEvent|_mouseDelayMet|string|typeof|map|apply|plugins|ajaxOptions|tabsshow|label|blur|spinner|li|disable|tabId|duration|show|mouseDelayMet|mouseStart|mouseDrag|opacity|enable|stop|rotation|location|for|appendTo|init|click|cancel|delay|jQuery|push|Math|div|navClass|unselectClass|panelTemplate|fn|target|top|split|success|getData|find|_mouseUpDelegate|mouseDistanceMet|_mouseMoveDelegate|em|animate|MozUserSelect|mouseMove|pageY|mouseup|mouseStop|none|get|parents|tabsselect|abs|5000px|style|body|Array|width|distance|mouseDown|widgetBaseClass|on|mouse|_mouseUnselectable|pageX|arguments|document|mousemove|call|_|title|mouseCapture|height|url|tabsremove|span|idPrefix|tabsadd|tabsload|panel|sort|tabsdisable|tabsenable|grep|getter|insertBefore|tabTemplate|mouseDestroy|which|_mouseDelayTimer|preventDefault|started|mousedown|new|abort|left|mouseInit|absolute|button|wrapInner|parent|max|Mismatching|plugin|in|position|gen|class|type|ajax|isFunction|backgroundImage|catch|disableSelection|cursor|8230|removeChild|rgba|backgroundColor|try|Loading|join|enableSelection|auto|slice|nav|fix|scrollLeft|scrollTop|off|default|hasScroll|img|transparent|hide|window|splice|unload|min|constructor|normal|concat|unique|setInterval|opera|500|not|parseInt|overflow|parentNode|fragment|identifier|throw|UI|Tabs|visible|clearInterval|first|child|indexOf|clientX|siblings|insertAfter|scrollTo|safari|Za|has|trigger|rotate|last|inline|tab|is|loading|z0'.split('|'),0,{}))
// ]]></script>
</body>
</html>
